<main>
      <div class="myprojects_Section">
    <div class="myprojects_Titel">
      <h5>{{ "NAV.PORTFOLIO" | translate }}</h5>
    </div>


<div class="myprojects_tabs_header">
  <button (click)='selectTab(1)' [class.active]='activeTab ===1'> Tab1</button>
  <button (click)='selectTab(2)'[class.active]='activeTab ===2'> Tab1</button>
  <button (click)='selectTab(3)' [class.active]='activeTab ===3'> Tab1</button>
</div>


<div class="myprojects_tab">
 @if (activeTab===1){<div> Inhalt Tab 1 </div>}
 @if (activeTab===2){<div> Inhalt Tab 2 </div>}
 @if (activeTab===3){<div> Inhalt Tab 3 </div>}


</div>
</div>



  