main{
   min-width: 320px;
  max-width: 1440px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  margin-left: 114px;
  //margin-right: 114px;
//  margin-top: 41px;
  height: 655px;
  color: #f8f5ec;
  //background-color: red;
}



.myprojects_Section {
  font-family: "Josefin Sans";
  font-weight: 400;
  width: 100%;
  //background-color:yellow ;
}

.myprojects_Titel {
  font-family: Anta;
  color: #89bcd9;
  display: flex;
  justify-content: center;
  color: #89bcd9;
}