@use "styles/colors.scss" as *;
@use "styles/fonts.scss" as *;

main {
  width: 100%;
  //height: 645px;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  color: $cremeWhite;
  background-color: $mainColor;
}

.myprojects_Section {
  font-family: "Josefin Sans";
  width: 100%;
  //background-color:yellow ;
}

.myprojects_Titel {
  color: $primaryBlue; // #89bcd9;
  display: flex;
  justify-content: center;
}

.myprojects_tabs_header {
  display: flex;
  justify-content: start;
  margin-left: 115px;
  padding-top: 80px;
}

.myprojects_tabs_header button {
  display: flex;
  height: 97px;
  width: 248px;
  align-items: center;
  justify-content: center;
  border-radius: 16px 16px 0 0;
  background-color: $mainColor; // #262e34;
  font-family: "Josefin Sans";
  color: $primaryBlue; // #89bcd9;
  border: none;
  cursor: pointer;
}

.myprojects_tabs_header button.active {
  background-color: $lightGrey; // #89bcd912;
  color: $cremeWhite; // #f8f5ec;
}

.myprojects_tab {
  background-color: #89bcd912;
  width: 100%;
}
