//imports
@use "styles/variablen" as *;

/*---------------------Display Flex ------------------------*/
@mixin flex_Box($orientation, $gapPx) {
  display: flex;
  flex-direction: $orientation;
  align-items: center;
  justify-content: center;
  gap: $gapPx;
}

/*-----------------Animation Backround img------------------------------------------*/

@mixin background_Animation() {
  .background_Animation {
    @include flex_Box(column, 0);
  }

  .section {
    position: relative;
    @include flex_Box(column, 0);

  }

  .section>img {
    position: absolute;
    object-fit: contain;
    transition: opacity 0.5s ease-in-out, filter 0.5s ease-in-out;
  }

  .section .img_1 {
    opacity: 1;
  }

  .section .img_2 {
    opacity: 0;
  }

  .section:hover .img_1 {
    opacity: 0;
  }

  .section:hover .img_2 {
    opacity: 1;
  }

  .section_contents {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
  }

  .section_content_block {
    @include flex_Box(column, 15px);
    text-align: center;
    width: 100%;
  }

  .section_content_block img {
    display: block;
    width: 100px;
    height: auto;
    margin: 0 auto;
  }

  .section_content_block p {
    display: block;
    margin: 0;
    text-align: center;
  }
}

/*---------------toole IMG---------------------------------------------*/

@mixin icon_toggle() {
  position: relative;
  width: 30px;
  height: 30px;

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

  }

  .img_start {
    opacity: 1;
  }

  .img_hover {
    opacity: 0;
  }

  &:hover {
    .img_start {
      opacity: 0;
      cursor: pointer;
    }

    .img_hover {
      opacity: 1;
      cursor: pointer;
    }
  }
}

//Responsive
@mixin mobilesmall {
  @media (max-width: #{$breakpoint-mobilesmall}) {
    @content;
  }
}


@mixin mobile {
  @media (max-width: #{$breakpoint-mobile}) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: #{$breakpoint-tablet}) {
    @content;
  }
}

@mixin desktop {
  @media (max-width: #{$breakpoint-desktop}) {
    @content;
  }
}