@use "styles/colors" as *;
@use "styles/mixin/mixin" as *;

main {
  display: block;
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw; // Trick: raus aus dem zentrierten Layout
  margin-right: -50vw;
  background-color: $primaryBlue; // Beispiel
  color: $cremeWhite;
  height: 120px;
}


.footer_sec_center a {
  text-decoration: none;
  color: $mainColor;
}

.footer_section {
  font-family: "Josefin";
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.footer_sec_left {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.footer_sec_left a {
  text-decoration: none;
  color: $cremeWhite;
}

.footer_sec_right {
  display: flex;
}

p .copy {
  font-size: 30px;
  vertical-align: middle;
}

.section {
  display: flex;
  align-items: center;
  gap: 10px;

  .section_img {
    @include icon_toggle();
  }
}

.footer_inner {
  max-width: 1920px;
  margin: auto;
  padding: 20px 40px;
}


// ------------------ Responsive ----------------------
//---------------------TABLET--------------------------

@include tablet {
  main {
    margin-top: 0px;
  }
}

//---------------------MOBIL--------------------------

@include mobile {
  .font_8 {
    font-size: 14px;
  }

  main {
    margin-top: 0;
    height: 214px;
  }

  .footer_section {
    margin-top: 0;
    flex-direction: column;
    width: 100%;
  }

  .footer_sec_left {
    gap: 40px !important;
    align-items: center !important;
    position: absolute;
    top: 180px;
    flex-direction: row;
    color: $cremeWhite;
  }

  .copy {
    font-size: 14px !important;
  }

  .footer_sec_center {
    margin-top: 20px;
  }

  .footer_sec_right {
    position: absolute;
    top: 100px;
    justify-content: center;
    margin-top: 20px;
  }


  .section {
    gap: 30px;
    color: $cremeWhite;
  }

  .img_start {
    opacity: 0 !important;
  }

  .img_hover {
    opacity: 1 !important;
  }
}