@use "styles/colors" as *;
@use "styles/mixin/mixin" as *;

//---------------------TABLET--------------------------

@include tablet {
    .section_footer {
        margin-top: 0px;
    }
}

//---------------------MOBIL--------------------------

@include mobile {
    .font_h {
        font-size: 16px;
    }

    .section_footer {
        margin-top: 0;
        padding: 0;
        height: 214px;
    }

    .footer_section {
        margin-top: 0;
        flex-direction: column;
        width: 100%;
    }

    .footer_sec_left {
        gap: 40px !important;
        align-items: center !important;
        position: absolute;
        top: 180px;
        flex-direction: row;
        color: $cremeWhite;
    }

    .copy {
        font-size: 16px !important;
    }

    .footer_sec_center {
        margin-bottom: 80px;

        img {
            max-width: 80px;
        }
    }

    .footer_sec_right {
        position: absolute;
        top: 100px;
        justify-content: center;
        margin-top: 20px;
    }

    .section {
        gap: 30px;
        color: $cremeWhite;
    }

    .img_start {
        opacity: 0 !important;
    }

    .img_hover {
        opacity: 1 !important;
    }
}

//---------------------MOBIL SMALL (bis 635px)--------------------------

@include mobilesmall {
    .font_h {
        font-size: 16px !important;
    }

    .section_footer {
        height: 200px;
    }

    .footer_inner {
        padding: 15px 20px;
    }

    .footer_sec_left {
        gap: 30px !important;
        top: 165px;
        font-size: 16px;
    }

    .copy {
        font-size: 16px !important;
    }

    .footer_sec_right {
        top: 90px;
        margin-top: 15px;
    }

    .section {
        gap: 25px;

        img {
            width: 26px;
            height: 26px;
        }
    }
}