<main>

    <div class="footer_section">
        <div class="footer_sec_left">
            <a class="font_8" routerLink="/legalNotice">{{ 'FOTTER.NOTICE' | translate }}</a>
            <p class="font_8"><span class="copy">©</span> Christian Bock 2025</p>
        </div>
        <div class="footer_sec_center">
            <a href="#hero">
                <app-logo [dark]="false"></app-logo>
            </a>
        </div>
        <div class="footer_sec_right">
            <div class="section">
                <div class="section_img">
                    <a href="mailto:info@elektro-bock.com">
                        <img class="img_start" src="assets/icons/email_btn_b.png">
                        <img class="img_hover" src="assets/icons/email_btn_b_hover.png">
                    </a>
                </div>
                <div class="section_img">
                    <img class="img_start" src="assets/icons/github_btn_b.png" />
                    <img class="img_hover" src="assets/icons/github_btn_b_hover.png" />
                </div>
                <div class="section_img">
                    <img class="img_start" src="assets/icons/linkedin_btn_b.png" />
                    <img class="img_hover" src="assets/icons/linkedin_btn_b_hover.png" />
                </div>
            </div>
        </div>
    </div>
</main>