<main>
    <div class="footer_section">
        <div class="footer_sec_left">
            <a class="font_8" href="/legalNotice">{{ 'FOTTER.NOTICE' | translate }}</a>
            <p class="font_8"><span class="copy">©</span> Christian Bock 2025</p>
          </div>

        <div class="footer_sec_center">
            <app-logo [dark]="false"></app-logo>
        </div>
        <div class="footer_sec_right">
            <div class="section">
                <div class="section_img">
                    <img class="img_start" src="assets/icons/email_btn_b.png">
                    <img class="img_hover" src="assets/icons/email_btn_b_hover.png">
                </div>
                <div class="section_img">
                    <img class="img_start" src="assets/icons/github_btn_b.png" />
                    <img class="img_hover" src="assets/icons/github_btn_b_hover.png" />
                </div>
                <div class="section_img">
                    <img class="img_start" src="assets/icons/linkedin_btn_b.png" />
                    <img class="img_hover" src="assets/icons/linkedin_btn_b_hover.png" />
                </div>
            </div>
        </div>
    </div>
</main>