@use "styles/colors" as *;
main {
  display: flex;
  width: 100%;
  height: auto;
  //background-color: red;
  padding-top: 120px;
}

.myskills_Section {
  font-family: "Josefin";
  width: 100%;
}

.myskills_innerSection {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 150px;
  margin-left: 160px;
  margin-right: 160px;
  margin-top: 70px;
  //background-color: green;
}

.myskills_Titel {
  color: $primaryBlue;
  display: flex;
  justify-content: center;
}

.myskills_grid_container {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-template-rows: repeat(3, auto);
  gap: 40px;
  margin-top: 60px;
}

.myskills_grid-item {
  display: flex;
  flex-direction: column;
  gap: 15px;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-family: "Josefin";
  color: $primaryBlue;
  border-radius: 8px;
}

.myskills_Layer {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 420px; // Größe der Fläche pro Icon
  height: 420px;
}

.myskills_Layer img {
  position: absolute;
  top: 0;
  left: 0;
  width: 420px;
  height: 420px;
  transform: translate rotate(90deg); /* Exakte Zentrierung */
  object-fit: contain;
  transition: opacity 1s ease, filter 1s ease-in-out, transform 1s ease-in-out;
}

.myskills_Layer .original {
  opacity: 1;
  //transform: scale(1);

  filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.3));
}

.myskills_Layer .hover {
  opacity: 0;
  transform: rotate(90deg);
  filter: drop-shadow(0 4x 8px rgba(0, 0, 0, 0.35));
}

.myskills_Layer:hover .original {
  opacity: 0;
  transform: scale(1);
}

.myskills_Layer:hover .hover {
  opacity: 1;
  transform: scale(1);
}

.myskills_Info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  //background-color: yellow;
}

.myskills_Info_img {
  display: flex;
  gap: 15px;
}

.myskills_Infotext {
  width: 307px;
  color: $cremeWhite; // white;
  font-size: 18px;
  text-align: center;
}
