main{
  display: flex;
  font-family: Anta;

  width: 100%;
  height: 840px;
}


.myskills_Section {
  font-family: "Josefin Sans";
  font-weight: 400;
  width: 100%;
}


.myskills_Titel {
  font-family: Anta;
  color: #89bcd9;
  display: flex;
  justify-content: center;
  margin-top:215px;
  color: #89bcd9;
}

.myskills_grid_container{
  display: grid;
  grid-template-columns: repeat(4, 90px); 
  grid-template-rows: repeat(3, 100px); 
  gap: 60px; 
  margin-top: 30px;
  margin-left: 120px;

}

.myskills_grid-item {
  //background-color: #89BCD9;
  display: flex;
  flex-direction: column;
  gap:15px;
    text-align: center;
 justify-content: center;
  align-items: center;
  font-family:"Josefin Sans";
  font-size:18px ;
  color: #89bcd9;
   border-radius: 8px;
}

