<main>
 <div class="myskills_Section">
        <div class="myskills_Titel">
             <h5>{{ "NAV.SKILLS" | translate }}</h5>
        </div>

   <div class="myskills_innerSection">
        <div class="myskills_grid_container">
        <div class="myskills_grid-item">1</div>
        <div class="myskills_grid-item">2</div>
        <div class="myskills_grid-item">3</div>
        <div class="myskills_grid-item">4</div>
        <div class="myskills_grid-item">5</div>
        <div class="myskills_grid-item">6</div>
        <div class="myskills_grid-item">7</div>
        <div class="myskills_grid-item">8</div>
        <div class="myskills_grid-item">9</div>
        <div class="myskills_grid-item">10</div>
        <div class="myskills_grid-item">11</div>
        <div class="myskills_grid-item">12</div>
        </div>
</div>


  </div>



</main>
