<main>
  <div class="myskills_Section">
    <div class="myskills_Titel">
      <h5>{{ "NAV.SKILLS" | translate }}</h5>
    </div>

    <div class="myskills_innerSection">
      <div class="myskills_grid_container">
        <div class="myskills_grid-item">
          <img src="assets/icons/Icon_Angular.png" />
          <p>Angular</p>
        </div>
        <div class="myskills_grid-item">
          <img src="assets/icons/Icon_TypeScript.png" />
          <p>TypeScript</p>
        </div>
        <div class="myskills_grid-item">
          <img src="assets/icons/Icon_Javascript.png" />
          <p>JavaScript</p>
        </div>
        <div class="myskills_grid-item">
          <img src="assets/icons/Icon_HTML.png" />
          <p>HTML</p>
        </div>
        <div class="myskills_grid-item">
          <img src="assets/icons/Icon_CSS.png" />
          <p>CSS</p>
        </div>
        <div class="myskills_grid-item">
          <img src="assets/icons/Icon_Angular.png" />
          <p>REST-API</p>
        </div>
        <div class="myskills_grid-item">
          <img src="assets/icons/Icon_Firebase.png" />
          <p>Firevase</p>
        </div>
        <div class="myskills_grid-item">
          <img src="assets/icons/Icon_Git.png" />
          <p>Git</p>
        </div>
        <div class="myskills_grid-item">
          <img src="assets/icons/Icon_MaterialDesign.png" />
          <p>Material Design</p>
        </div>
        <div class="myskills_grid-item">
          <img src="assets/icons/Icon_Scrum.png" />
          <p>Scrum</p>
        </div>
      </div>


      <div class="myskills_Info_Section">
        <div class="myskills_Layer ">
             <img src="assets/icons/myskills_Back.png" />
        </div>

        <div class="myskills_Layer myskills_Info">
          <p class="myskills_Infotext">{{'MYSKILLS.LEARNING' |translate}}</p>
          <div class="myskills_Info_img">
            <img src="assets/icons/react.png " />
            <img src="assets/icons/vuejs.png " />
          </div>
          <p class="myskills_Infotext" >{{'MYSKILLS.INFOTEXT'|translate}}</p>
        </div>
      </div>
    </div>
  </div>
</main>
