@use "styles/colors" as *;
@use "styles/mixin/mixin" as *;

main {
  display: flex;
  width: 100%;
  max-width: 100vw;
  justify-content: center;
  font-family: "Josefin";
  color: $cremeWhite;
  padding: 0 20px;
  box-sizing: border-box;
  gap: 180px;
  //overflow: hidden;
}

.tab_firstSection {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 40px;
  width: 50%;
  opacity: 0;
}

.tab_firstSection.animat_1 {
  animation: slideInFromLeft 0.8s ease-out forwards;
}

.first_paragraph {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 50px;
}

.first_paragraph_Section {
  display: flex;
  align-items: center;
  gap: 30px;
}

.first_paragraph_Text {
  margin-left: 60px;
  box-sizing: border-box;
}



.tab_secondSection {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 40px;
  padding-bottom: 20px;
  opacity: 0;

  .mobil_tech {
    display: none;
  }

  .tab_Technologies {
    display: flex;
    justify-content: center;
  }

  .tab_Icons {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
  }

  .tab_Icons img {
    height: 36px;
  }

  .tab_Project_Preview {
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
  }

  .tab_Project_Preview img {
    display: flex;
    height: 312px;
    border-radius: 16px;
    border-style: solid;
    border-width: 0.2px;
  }

  .tab_Buttons {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 20px;
  }

  .tab_Buttons a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    width: 132px;
    height: 48px;
    border-radius: 30px;
  }

  .tab_Buttons a:first-child {
    background-color: $primaryBlue;
  }

  .tab_Buttons a:last-child {
    color: $primaryBlue;
    border-color: $primaryBlue;
    background-color: $lightGrey;
    border-style: solid;
    border-width: 1px;
  }
}

.tab_secondSection.animat_2 {
  animation: slideInFromRight 0.8s ease-out forwards;
}


@keyframes slideInFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-200px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideInFromRight {
  0% {
    opacity: 0;
    transform: translateX(200px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}