@use "styles/colors" as *;
@use "styles/mixin/mixin" as *;

//---------------------Responsive--------------------------

@include desktop {
    .tab_firstSection {
        padding-left: 0px;


        .first_paragraph {
            display: flex;
            flex-direction: column;
            gap: 20px;
            margin-bottom: 50px;
        }

        .first_paragraph_Section {
            display: flex;
            align-items: center;
            gap: 30px;
        }

        .first_paragraph_Text {
            margin-left: 60px;
        }
    }
}

//---------------------TABLET--------------------------

@include tablet {
    main {
        flex-direction: column;
        gap: 20px;

    }

    .tab_firstSection {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;


    }

    .first_paragraph {
        max-width: 320px;
        margin-bottom: 30px;

    }

    .first_paragraph_Section {
        margin: 0;
    }

    .description {
        font-size: 18px;
    }

    .points {
        font-size: 22px;
    }

}

//---------------------MOBIL--------------------------

@include mobile {
    .font_9 {
        font-size: 16px;
    }

    main {
        //flex-direction: column-reverse;
        // padding: 0 15px;
        position: relative;
        margin-bottom: 90px;
    }

    .tab_firstSection {
        display: flex;
        flex-direction: column !important;
        align-items: center;
        width: 100%;
        margin: 0 !important;
        padding-left: 10px;
        padding-right: 10px;
    }

    .tab_secondSection {
        width: 100%;
        padding-top: 20px;
    }

    .first_paragraph_Section {
        padding-left: 10px;
        padding-right: 10px;
        width: 100%;
    }

    .first_paragraph_Text {
        padding-left: 10px !important;
        padding-right: 10px !important;
        margin-left: 20px;
    }

    .first_paragraph {
        align-items: flex-start;
        width: 100%;
        max-width: 350px;
    }

    .mobil_tech {
        display: flex !important;
        font-size: 14px;
    }

    .tab_Icons {
        display: none !important;
    }

    .tab_Project_Preview {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .tab_Project_Preview img {
        width: 100% !important;
        //max-width: 350px !important;
        height: auto !important;
    }

    .tab_Buttons {
        position: absolute;
        bottom: -70px;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        //max-width: 300px;
    }

    .tab_Buttons a {
        width: 120px !important;
        font-size: 16px;
    }
}

//---------------------MOBIL SMALL (bis 480px)--------------------------

@include mobilesmall {
    .font_9 {
        font-size: 13px !important;
    }

    main {
        padding: 0 5px;
        margin-bottom: 75px;
        overflow-x: hidden;
    }

    .tab_firstSection {
        padding-left: 5px;
        padding-right: 5px;
        padding-top: 20px;
    }

    .first_paragraph_Section {
        padding-left: 5px;
        padding-right: 5px;
        gap: 15px;
    }

    .first_paragraph_Text {
        padding-left: 5px !important;
        padding-right: 5px !important;
        margin-left: 10px;
        font-size: 13px;
    }

    .first_paragraph {
        width: 100%;
        max-width: 100%;
        margin-bottom: 30px;
        gap: 15px;
    }

    .tab_secondSection {
        padding-top: 10px;
        width: 100%;
    }

    .tab_Technologies {
        font-size: 14px;
    }

    .tab_Project_Preview {
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .tab_Project_Preview img {
        width: 100% !important;
        max-width: calc(100vw - 40px) !important;
    }

    .tab_Buttons {
        bottom: -60px;
        width: 100%;
        max-width: 100%;
        gap: 8px;
        padding: 0 10px;
    }

    .tab_Buttons a {
        width: 105px !important;
        height: 40px !important;
        font-size: 13px !important;
    }

    .mobil_tech {
        font-size: 11px !important;
    }
}