@use "styles/colors" as *;
@use "styles/mixin/mixin" as *;

//---------------------DESKTOP--------------------------

@include desktop {

    .section_tab_MyProjects {
        // gap:20px;
    }

    .tab_firstSection {
        align-items: center;
        justify-content: center;



        .first_paragraph {
            display: flex;
            flex-direction: column;
            gap: 20px;
            margin-bottom: 50px;
        }

        .first_paragraph_Section {
            display: flex;
            align-items: center;
            gap: 30px;
        }

        .first_paragraph_Text {
            margin-left: 60px;
        }
    }
}

//---------------------TABLET--------------------------

@include tablet {
    .font_9 {
        font-size: 18px;
    }

    .section_tab_MyProjects {
        position: relative;
        flex-direction: column;


        gap: 0px;



    }

    .tab_firstSection {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;

    }

    .first_paragraph {
        width: 100%;
        margin-bottom: 30px;
    }

    .first_paragraph_Section {
        margin: 0;
    }

    .description {
        font-size: 18px;
    }

    .points {
        font-size: 22px;
    }





}

//---------------------MOBIL--------------------------

@include mobile {


    .section_tab_MyProjects {
        flex-direction: column-reverse;
        //margin-bottom: 90px;
        //max-width: 300px;
        //padding-bottom: 80px;
        margin: 0px, 10px;
        //height: 0px;
        min-height: 1400px;

    }

    .tab_firstSection {
        display: flex;
        flex-direction: column; // !important;
        align-items: center;
        margin-top: 0px;
      
        min-height: 0px;

        // width: 100%;
        //margin: 0 !important;
        //padding-left: 10px;
        //padding-right: 10px;
        //margin-right: 10px;
    }

    .workprocess {
        position: absolute;
        top: 140px;
        left: 10px;
    }



    .tab_secondSection {

        padding-top: 140px;
        padding-bottom: 0px;
        margin-left: 0px;
    }

    .tab_Technologies {
        gap: 8px;
        align-items: start;
        position: absolute;
        top: 75px;
        left: 10px;
        //align-items: center;

    }

    .mobil_tech {
        display: block !important;
        line-height: 1.3;
    }

    .tab_Icons {
        display: none !important;
    }


    .first_paragraph_Section {
        //padding-left: 5px;
        //padding-right: 5px;
        width: 100%;
        max-width: 100%;
        box-sizing: border-box;
    }

    .first_paragraph_Text {
        //padding-left: 5px !important;
        //padding-right: 5px !important;
        margin-left: 0 !important;
        width: 100%;
        max-width: 100%;
        box-sizing: border-box;
    }

    .first_paragraph {
        align-items: flex-start;
        width: 100%;
        max-width: 100%;
        box-sizing: border-box;
    }

    .mobil_tech {
        display: flex;
        font-size: 16px;
    }

    .tab_Icons {
        display: none;
    }

    .tab_Project_Preview {
        display: inline-block;
    }

    .tab_Project_Preview img {
        max-width: 100%;
        max-height: 100%;
        object-fit: contain;
        box-sizing: border-box;
        display: block;
    }



    .tab_Buttons {
        position: absolute;
        bottom: 0px;
        left: 50%;
        transform: translateX(-50%);

    }

    .tab_Buttons a {
        width: 120px;
        font-size: 16px;
    }

    .project_titel_mobil {
        display: block;
        position: absolute;
        color: $primaryBlue;
        top: 25px;
        left: 10px;

    }
}