@use "styles/colors" as *;
@use "styles/mixin/mixin" as *;

main {
  display: flex;
  width: 100%;
  font-family: "Josefin";
  color: $cremeWhite;
}

.tab_firstSection {
  padding-left: 130px;

  padding-top: 40px;
  width: 100%;

  .first_paragraph {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 50px;
  }

  .first_paragraph_Section {
    display: flex;
    align-items: center;
    gap: 30px;
  }

  .first_paragraph_Text {
    margin-left: 60px;
  }
}

.tab_secondSection {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 40px;
  width: 50%;
  padding-bottom: 20px;

  .mobil_tech {
    display: none;
  }

  .tab_Technologies {
    display: flex;
    justify-content: center;
  }

  .tab_Icons {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
  }

  .tab_Icons img {
    width: 34px;
    height: 36px;
  }

  .tab_Project_Preview {
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
  }

  .tab_Project_Preview img {
    width: 452px;
    height: 312px;
    border-radius: 16px;
    border-style: solid;
    border-width: 0.2px;
  }

  .tab_Buttons {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 20px;
    //
  }

  .tab_Buttons a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    width: 132px;
    height: 48px;
    border-radius: 30px;
  }

  .tab_Buttons a:first-child {
    background-color: $primaryBlue;
  }

  .tab_Buttons a:last-child {
    color: $primaryBlue;
    border-color: $primaryBlue;
    background-color: $lightGrey;
    border-style: solid;
    border-width: 1px;
  }
}




//---------------------Responsive--------------------------

@include desktop {
  .tab_firstSection {
    padding-left: 15px;
    width: 50%;

    .first_paragraph {
      display: flex;
      flex-direction: column;
      gap: 20px;
      margin-bottom: 50px;
    }

    .first_paragraph_Section {
      display: flex;
      align-items: center;
      gap: 30px;
    }

    .first_paragraph_Text {
      margin-left: 60px;
    }
  }
}

//---------------------TABLET--------------------------

@include tablet {
  .tab_Project_Preview img {
    width: 80% !important;
    height: auto !important;
  }

  .points {
    font-size: 22px;
  }

  .description {
    font-size: 18px;
  }
}

//---------------------MOBIL--------------------------

@include mobile {
  .font_9 {
    font-size: 16px;
  }

  main {
    flex-direction: column-reverse;

  }

  .tab_firstSection {
    display: flex;
    flex-direction: column !important;
    align-items: center;
    width: 100%;
    margin: 0 !important;
    padding-left: 0px;
  }

  .tab_secondSection {
    width: 100%;
  }

  .first_paragraph_Section {
    padding-left: 15px;
  }

  .first_paragraph_Text {
    padding-left: 15px !important;
    padding-right: 30px;
  }

  .first_paragraph {
    align-items: flex-start;
    width: 80%;
  }

  .mobil_tech {
    display: flex !important;
  }

  .tab_Icons {
    display: none !important;
  }

  main {
    position: relative;
    margin-bottom: 90px;
  }

  .tab_Buttons {
    position: absolute;
    bottom: -70px;
    left: 50%;
    transform: translateX(-50%);
  }
}