<section class="section_tab_MyProjects">
  <div class="tab_firstSection">
    <div class="first_paragraph">
      <div class="first_paragraph_Section">
        <img src="assets/icons/circle_full.png">
        <p class="font_7 points">
          {{'PROJECTE.P'+activeTab+'.Tab1.DESCRIPTION1'|translate}}
        </p>
        <p class="font_8 workprocess">{{'PROJECTE.P'+activeTab+'.Tab1.WORKPROCESS1'|translate}}</p>
      </div>
      <div class="first_paragraph_Text">
        <p class="font_9 description">{{'PROJECTE.P'+activeTab+'.Tab1.CONTENT1'|translate}}</p>
      </div>
    </div>
    <div class="first_paragraph">
      <div class="first_paragraph_Section">
        <img src="assets/icons/circle_full.png">
        <p class="font_7 points">
          {{'PROJECTE.P'+activeTab+'.Tab1.DESCRIPTION2'|translate}}
        </p>
      </div>
      <div class="first_paragraph_Text">
        <p class="font_9 description">{{'PROJECTE.P'+activeTab+'.Tab1.CONTENT2'|translate}}</p>
      </div>
    </div>
    <div class="first_paragraph">
      <div class="first_paragraph_Section">
        <img src="assets/icons/circle_full.png">
        <p class="font_7 points">
          {{'PROJECTE.P'+activeTab+'.Tab1.DESCRIPTION3'|translate}}
        </p>
      </div>
      <div class="first_paragraph_Text">
        <p class="font_9 description">{{'PROJECTE.P'+activeTab+'.Tab1.CONTENT3'|translate}}</p>
      </div>
    </div>

    <div class="tab_Buttons">
      <a class="font_9" [href]="('PROJECTE.P' + activeTab + '.Tab2.LINKPROJECT') | translate" target="_blank">Live Test</a>
      <a class="font_9" [href]="('PROJECTE.P' + activeTab + '.Tab2.LINKGIT') | translate" target="_blank">GitHub</a>
    </div>
  </div>
  
  <p class="project_titel_mobil font_14">{{'PROJECTE.P'+activeTab+'.Tab1.PROJECT_NAME'|translate}}</p>
  <div class="tab_secondSection">
    <div class="tab_Technologies font_9">
      <p>{{'PROJECTE.P'+activeTab+'.Tab2.TECHNOLOGIES'|translate}}</p>
      <p>:</p>
      <p class="mobil_tech">{{'PROJECTE.P'+activeTab+'.Tab2.MOBILTECHNO'|translate}}</p>
    </div>
    <div class="tab_Icons">
      <img *ngFor="let img of('PROJECTE.P'+activeTab+'.Tab2.IMGS'|translate)" [src]="img">
    </div>
    <div class="tab_Project_Preview">
      <img [src]="'PROJECTE.P'+activeTab+'.Tab2.SCREEN' |translate">
    </div>
    
  </div>
</section>