<main>

  <div class="tab_firstSection">
    <div class="first_paragraph">
      <div class="first_paragraph_Section">
        <img src="assets/icons/circle_full.png">
        <p class="font_7">
          {{'PROJECT_STANDARD.DESCRIPTION'|translate}}
        </p>
        <p class="font_8">{{'PROJECT_STANDARD.WORKPROCESS'|translate}}</p>
      </div>
      <div class="first_paragraph_Text">
        <p>
        <p class="font_9">{{'PROJECT_STANDARD.CONTENT'|translate}}
        </p>
      </div>
    </div>

    <div class="first_paragraph">
      <div class="first_paragraph_Section">
        <img src="assets/icons/circle_full.png">
        <p class="font_7">
          {{'PROJECT_STANDARD.DESCRIPTION'|translate}}
        </p>
        <p class="font_8">{{'PROJECT_STANDARD.WORKPROCESS'|translate}}</p>
      </div>
      <div class="first_paragraph_Text">
        <p>
        <p class="font_9">{{'PROJECT_STANDARD.CONTENT'|translate}}
        </p>
      </div>
    </div>


    <div class="first_paragraph">
      <div class="first_paragraph_Section">
        <img src="assets/icons/circle_full.png">
        <p class="font_7">
          {{'PROJECT_STANDARD.DESCRIPTION'|translate}}
        </p>
        <p class="font_8">{{'PROJECT_STANDARD.WORKPROCESS'|translate}}</p>
      </div>
      <div class="first_paragraph_Text">
        <p>
        <p class="font_9">{{'PROJECT_STANDARD.CONTENT'|translate}}
        </p>
      </div>
    </div>
  </div>










  <div class="tab_secondSection">
    <p>Technologies</p>

  </div>



</main>