<main>

  <div class="tab_firstSection">
    <div class="first_paragraph">
      <div class="first_paragraph_Section">
        <img src="assets/icons/circle_full.png">
        <p class="font_7">
          {{'PROJECT_STANDARD.DESCRIPTION'|translate}}
        </p>
        <p class="font_8">{{'PROJECT_STANDARD.WORKPROCESS'|translate}}</p>
      </div>
      <div class="first_paragraph_Text">
        <p>
        <p class="font_9">{{'PROJECT_STANDARD.CONTENT'|translate}}
        </p>
      </div>
    </div>

    <div class="first_paragraph">
      <div class="first_paragraph_Section">
        <img src="assets/icons/circle_full.png">
        <p class="font_7">
          {{'PROJECT_STANDARD.DESCRIPTION'|translate}}
        </p>
        <p class="font_8">{{'PROJECT_STANDARD.WORKPROCESS'|translate}}</p>
      </div>
      <div class="first_paragraph_Text">
        <p>
        <p class="font_9">{{'PROJECT_STANDARD.CONTENT'|translate}}
        </p>
      </div>
    </div>


    <div class="first_paragraph">
      <div class="first_paragraph_Section">
        <img src="assets/icons/circle_full.png">
        <p class="font_7">
          {{'PROJECT_STANDARD.DESCRIPTION'|translate}}
        </p>
        <p class="font_8">{{'PROJECT_STANDARD.WORKPROCESS'|translate}}</p>
      </div>
      <div class="first_paragraph_Text">
        <p>
        <p class="font_9">{{'PROJECT_STANDARD.CONTENT'|translate}}
        </p>
      </div>
    </div>
  </div>

  <!--      22   TAB TAB TAB 22                     -->

  <div class="tab_secondSection">
    <div class="tab_Technologies">
      <p>{{"PROJECT_STANDARD.TECHNOLOGIES" |translate}}</p>
      <div *ngIf="cards && cards.length > 1" class="tab_Icons">

        <img *ngFor="let techImg of cards[1].technologiesImg" [src]="techImg">
        <p>{{ cards[1].test}}</p>
      </div>
    </div>
    <div class="tab_Project_Preview">
      <img src="assets/screenshots/ScreenshotDABubble.png">
    </div>
    <div class="tab_Buttons">
      <a href="">Live Test</a>
      <a href="">GitHub</a>

    </div>
  </div>




</main>