<main>
  <div class="myprojects_Section">
    <div class="myprojects_Titel">
      <p class="font_5">{{ "NAV.PORTFOLIO" | translate }}</p>
    </div>


    <div class="myprojects_tabs_header">
      <button class="font_7" (click)='selectTab(1)' [class.active]='activeTab ===1'>1. Join</button>
      <button class="font_7" (click)='selectTab(2)' [class.active]='activeTab ===2'>2. El Pollo Logo</button>
    </div>

    <div class="myprojects_tab">
      @if (activeTab===1){<div><app-tab-my-projects [activeTab]="activeTab"></app-tab-my-projects></div>}
    </div>

    <div>
      @if (activeTab===2){<div><app-tab-my-projects [activeTab]="activeTab"></app-tab-my-projects></div>}
    </div>
  </div>
</main>