@use "styles/colors" as *;
@use "styles/mixin/mixin" as *;

main {
  width: 100%;
  padding-top: 120px;
}

.myprojects_Section {
  margin-top: 60px;
  font-family: "Josefin";
  width: 100%;
}

.myprojects_Titel {
  color: $primaryBlue;
  display: flex;
  justify-content: center;
  /*
    TODO: 
  */
  //opacity: 0;
}

.myprojects_Titel.animat_1 {
  animation: slideInFromRight 0.8s ease-out forwards;
}

.myprojects_tabs_header {
  display: flex;
  justify-content: start;
  margin-left: 60px;
  padding-top: 80px;
  flex-wrap: wrap;
  gap: 20px;
}

.myprojects_tabs_header button {
  display: flex;
  height: 97px;
  width: 248px;
  min-width: 150px;
  align-items: center;
  justify-content: center;
  border-radius: 16px 16px 0 0;
  background-color: $mainColor;
  font-family: "Josefin";
  color: $primaryBlue;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
  flex: 1 1 auto;
  max-width: 300px;
}

.myprojects_tabs_header button.active {
  background-color: $lightGrey;
  color: $cremeWhite;
}

.active_Tab {
  background-color: $tabColor;

}


//---------Animation ----------

/*
@keyframes slideInFromRight {
  0% {
    opacity: 0;
    transform: translateX(200px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
*/