@use "styles/mixin/mixin" as *;

@include mobile {
    .myprojects_tabs_header .btn_tab {
        display: none;
    }

    .myprojects_tabs_header .btn_tab_mobil {
        display: flex;
        font-size: 18px;
    }

    .myprojects_tabs_header {
        margin-left: 0;
        padding-top: 40px;
        justify-content: center;
        gap: 12px;
        padding-inline: 12px;
    }

    .myprojects_tabs_header button {
        height: 64px;
        width: 160px;
        min-width: 140px;
        max-width: 220px;
        border-radius: 14px 14px 0 0;
    }
}

@include mobilesmall {
    .myprojects_tabs_header button {
        width: 140px;
        min-width: 120px;
        height: 58px;
    }
}