<section class="section_myprojects">
  <div class="myprojects_Section">
    <div class="myprojects_Titel">
      <p class="font_5">{{ "NAV.PORTFOLIO" | translate }}</p>
    </div>
    <div class="myprojects_tabs_header" role="tablist">
      <button class="font_7 btn_tab" type="button" (click)="selectTab(1)" [class.active]="activeTab === 1">
        1. Join
      </button>
      <button class="font_7 btn_tab" type="button" (click)="selectTab(2)" [class.active]="activeTab === 2">
        2. El Pollo Logo
      </button>
      <button class="font_7 btn_tab_mobil" type="button" (click)="selectTab(1)" [class.active]="activeTab === 1">
        1. Project
      </button>
      <button class="font_7 btn_tab_mobil" type="button" (click)="selectTab(2)" [class.active]="activeTab === 2">
        2. Project
      </button>
    </div>
    <div class="active_Tab">
      <app-tab-my-projects [activeTab]="activeTab"></app-tab-my-projects>
    </div>
  </div>
</section>