@use "styles/colors" as *;
@use "styles/mixin/mixin" as *;
main {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  color: $cremeWhite;
  background-color: red; // $mainColor;
   //margin-top:150px ;
  padding-top: 20px;
  //margin-bottom: 60px;
}

.myprojects_Section {
  font-family: "Josefin";
  width: 100%;
  //background-color:yellow ;
}

.myprojects_Titel {
  color: $primaryBlue;
  display: flex;
  justify-content: center;
}

.myprojects_tabs_header {
  display: flex;
  justify-content: start;
  margin-left: 115px;
  padding-top: 80px;
}

.myprojects_tabs_header button {
  display: flex;
  height: 97px;
  width: 248px;
  align-items: center;
  justify-content: center;
  border-radius: 16px 16px 0 0;
  background-color: $mainColor; // #262e34;
  font-family: "Josefin";
  color: $primaryBlue; // #89bcd9;
  border: none;
  cursor: pointer;
}

.myprojects_tabs_header button.active {
  background-color: $lightGrey; // #89bcd912;
  color: $cremeWhite; // #f8f5ec;
}

.myprojects_tab {
  background-color: #89bcd912;
  width: 100%;
 }

//---------------------Responsive--------------------------

@include desktop {
  .myprojects_tabs_header button {
    margin-left: 15px;
    font-size: 24px !important;
  }
}

//---------------------TABLET--------------------------

@include tablet {
  .font_5 {
    font-size: 48px;
  }
  .myprojects_tabs_header {
    margin-left: 0px;
  }
}

//---------------------MOBIL--------------------------

@include mobile {
  .font_5 {
    font-size: 32px;
  }

  .myprojects_tabs_header {
    padding-top: 20px;
    button.font_7 {
      font-size: 18px !important;
    }
  }

  .myprojects_tabs_header button {
    height: 60px;
    margin: 0;
  }
}
