@use "styles/colors" as *;
@use "styles/mixin/mixin" as *;

.section_myprojects {
  width: 100%;
  padding-top: 120px;
  overflow: hidden;
}

.myprojects_Section {
  margin-top: 60px;
  font-family: "Josefin";
  width: 100%;
}

.myprojects_Titel {
  color: $primaryBlue;
  display: flex;
  justify-content: center;
}

/* Tabs */
.myprojects_tabs_header {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-left: 60px;
  padding-top: 80px;
  align-items: stretch;
}

.myprojects_tabs_header button {
  /* gemeinsames Button-Styling */
  display: flex;
  align-items: center;
  justify-content: center;

  height: 97px;
  width: 248px;
  min-width: 150px;
  max-width: 300px;
  flex: 1 1 auto;

  border: none;
  border-radius: 16px 16px 0 0;
  cursor: pointer;

  background-color: $mainColor;
  color: $primaryBlue;
  font-family: "Josefin";

  transition: transform 0.2s ease, background-color 0.2s ease, color 0.2s ease;
}

.myprojects_tabs_header button.active {
  background-color: $lightGrey;
  color: $cremeWhite;
}

/* Desktop: lange Tabs sichtbar, Mobile-Tabs versteckt */
.myprojects_tabs_header .btn_tab {
  display: flex;
}

.myprojects_tabs_header .btn_tab_mobil {
  display: none;
}

.active_Tab {
  background-color: $tabColor;
}