@use "/styles/colors" as *;
@use "/styles/mixin/mixin" as *;

.section_menue {
  position: relative;
  top: 0;
  left: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 104px;
  background-color: $primaryBlue;
  width: 100vw;
  margin-left: -50vw;
  margin-right: -50vw;
}

.menue_inner {
  max-width: 1920px;
  width: 100%;
  box-sizing: border-box;
}

.section_heroMenue {
  display: flex;
  width: 100%;
  justify-items: center;
  align-items: center;
  justify-content: space-between;
}

.menue_Entries {
  display: flex;
  justify-content: start;
  gap: 100px;
  font-family: "Josefin";

  p {
    &:hover {
      color: $cremeWhite;
      cursor: pointer;
    }
    padding: 15px 15px;
  }
}

.active {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.language_Icon {
  display: flex;
  gap: 10px;
  button {
    border-style: none;
    border-width: 0;
    font-family: "Josefin";
    background-color: $primaryBlue;
    padding: 12px 12px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    &:hover {
      cursor: pointer;
      color: $cremeWhite;
    }

    &.language_aktiv {
      color: $cremeWhite;

      :hover {
        cursor: pointer;
      }
    }
  }
}

.menue_inner {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  padding: 0 60px;
  box-sizing: border-box;
}

:host {
  z-index: 100;
  display: block;
}


:host(.menu-top) {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

:host(.menu-bottom) {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

:host ::ng-deep app-logo .logo {
  cursor: pointer;
}