@use "styles/colors" as *;

main {
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  width: 100%;
  height: 104px;
  background-color: $primaryBlue;
  z-index: 10;
}

.section_heroMenue {
  display: flex;
  width: 100%;
  justify-items: center;
  align-items: center;
  justify-content: space-between;
  margin-left: 114px;
  margin-right: 114px;
}

:host ::ng-deep app-logo .logo {
  cursor: pointer;
}

.menue_Entries {
  width: 677px;
  display: flex;
  justify-content: space-between;
  font-family: "Josefin";
  p {
    &:hover {
      color: $cremeWhite;
    }
    padding: 15px 15px;
  }
}
.menue_Entries a {
  text-decoration: none;
  color: $mainColor;
}
.active {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

//-----------------------------------------------//

.language_Icon {
  display: flex;
  gap: 10px;
  button {
    border-style: none;
    border-width: 0;
    font-family: "Josefin";
    background-color: $primaryBlue;
    padding: 12px 12px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    &:hover {
      cursor: pointer;
      color: $cremeWhite;
    }
    &.language_aktiv {
      color: $cremeWhite;
      :hover {
        cursor: pointer;
      }
    }
  }
}
