@use "/styles/colors" as *;
@use "/styles/mixin/mixin" as *;



main {

  display: flex;
  justify-content: center;
  align-items: center;
  height: 104px;
  background-color: $primaryBlue;
  width: 100%;
  position: relative;
  left: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

.section_heroMenue {
  display: flex;
  width: 100%;
  justify-items: center;
  align-items: center;
  justify-content: space-between;
}

.menue_Entries {
  display: flex;
  justify-content: space-between;
  font-family: "Josefin";

  p {
    &:hover {
      color: $cremeWhite;
      cursor: pointer;
    }

    padding: 15px 15px;
  }
}

.active {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.language_Icon {
  display: flex;
  gap: 10px;

  button {
    border-style: none;
    border-width: 0;
    font-family: "Josefin";
    background-color: $primaryBlue;
    padding: 12px 12px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    &:hover {
      cursor: pointer;
      color: $cremeWhite;
    }

    &.language_aktiv {
      color: $cremeWhite;

      :hover {
        cursor: pointer;
      }
    }
  }
}

.menue_inner {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  padding: 0 60px;
  box-sizing: border-box;
}

:host {
  z-index: 100;
  display: block;
}


:host(.menu-top) {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

:host(.menu-bottom) {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

:host ::ng-deep app-logo .logo {
  cursor: pointer;
}


//---------------------Responsive--------------------------

@include desktop {
  .section_heroMenue {
    margin-left: 0px;
    margin-right: 0px;
  }
}

//---------------------TABLET--------------------------

@include tablet {

  .font_3 {
    font-size: 20px !important;
  }

  .app_logo {
    display: none;
  }

  .menue_Entries {
    width: 100%;
    display: flex;
    justify-content: start;
    padding: 0px 0px !important;
  }
}

//---------------------MOBIL--------------------------


@include mobile {

  .font_3 {
    font-size: 32px !important;
  }

  main {
    width: 90px;
    left: -70px;
    top: 10px;
  }

  .menue_inner {
    padding: 0 16px !important;

  }

  .language_Icon {
    margin-right: 16px;
  }
}

:host(.menu-full-width) {
  @include mobile {
    main {
      width: 100vw !important;
      left: 50% !important;
      margin-left: -50vw !important;
      margin-right: -50vw !important;
    }
  }
}