@use "/styles/colors" as *;
@use "/styles/mixin/mixin" as *;

main {

  //position: sticky;
  bottom: 0;
  display: flex;
  align-items: center;
  height: 104px;
  background-color: $primaryBlue;
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw; // Trick: raus aus dem zentrierten Layout
  margin-right: -50vw;



}

.section_heroMenue {
  display: flex;
  width: 100%;
  justify-items: center;
  align-items: center;
  justify-content: space-between;
  margin-left: 114px;
  margin-right: 114px;
}

:host {
  z-index: 10;
}

:host ::ng-deep app-logo .logo {
  cursor: pointer;
}

:host(.menu-bottom) {
  position: fixed;
  left: calc(50% - 50vw);
  bottom: 0;
  width: 100vw;

}

:host(.menu-top) {
  position: sticky;
  top: 0;
  left: 0;
  width: 100vw;
}

.menue_Entries {
  display: flex;
  justify-content: space-between;
  font-family: "Josefin";

  p {
    &:hover {
      color: $cremeWhite;
      cursor: pointer;
    }

    padding: 15px 15px;
  }
}

.active {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.language_Icon {
  display: flex;
  gap: 10px;

  button {
    border-style: none;
    border-width: 0;
    font-family: "Josefin";
    background-color: $primaryBlue;
    padding: 12px 12px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    &:hover {
      cursor: pointer;
      color: $cremeWhite;
    }

    &.language_aktiv {
      color: $cremeWhite;

      :hover {
        cursor: pointer;
      }
    }
  }
}


.menue_inner {
  max-width: 1920px;
  margin: auto;


}



//---------------------Responsive--------------------------

@include desktop {
  .section_heroMenue {
    margin-left: 50px;
    margin-right: 50px;
  }
}

//---------------------TABLET--------------------------

@include tablet {
  :host {
    top: 740px;
  }

  .font_3 {
    font-size: 20px !important;
  }

  .app_logo {
    display: none;
  }

  .menue_Entries {
    width: 100%;
    display: flex;
    justify-content: start;
    padding: 0px 0px !important;
  }
}