<section class="section_menue">
  <div class="menue_inner">
    <div class="section_heroMenue">
      <input type="checkbox" id="menuToggle" class="menu-toggle" />
      <div class="app_logo">
        <a [routerLink]="['/']" fragment="hero">
          <app-logo [dark]="logoDark"></app-logo>
        </a>
      </div>
      <div class="menue_Entries">
        <a class="font_c" (click)="setPosMenu('why-me')">
          <p [class.active]="setAktiv.getMenuAktiv() === 'why-me'" [style.backgroundImage]="setAktiv.getMenuAktiv() === 'why-me' 
                  ? 'url(assets/icons/backAktivLang.png)' 
                  : 'none'">
            {{"NAV.WHY_ME" | translate}}
          </p>
        </a>
        <a class="font_c" (click)="setPosMenu('myskills')">
          <p [class.active]="setAktiv.getMenuAktiv() === 'myskills'" [style.backgroundImage]="setAktiv.getMenuAktiv() === 'myskills' 
                  ? 'url(assets/icons/backAktivLang.png)' 
                  : 'none'">
            {{"NAV.SKILLS" | translate}}
          </p>
        </a>
        <a class="font_c" (click)="setPosMenu('myprojects')">
          <p [class.active]="setAktiv.getMenuAktiv() === 'myprojects'" [style.backgroundImage]="setAktiv.getMenuAktiv() === 'myprojects' 
                  ? 'url(assets/icons/backAktivLang.png)' 
                  : 'none'">
            {{"NAV.PORTFOLIO" | translate}}
          </p>
        </a>
        <a class="font_c" (click)="setPosMenu('contact')">
          <p [class.active]="setAktiv.getMenuAktiv() === 'contact'" [style.backgroundImage]="setAktiv.getMenuAktiv() === 'contact' 
                            ? 'url(assets/icons/backAktivLang.png)' 
                            : 'none'">
            {{"NAV.CONTACT" | translate}}
          </p>
        </a>
      </div>
      <div class="language_Icon">
        <button class="font_i" [class.language_aktiv]="isGerman()" (click)="toggleLanguage()"
          [style.backgroundImage]="isGerman() ? 'url(assets/icons/backAktivLang.png)' : 'none'">DE </button>

        <button class="font_i" [class.language_aktiv]="!isGerman()" (click)="toggleLanguage()"
          [style.backgroundImage]="!isGerman() ? 'url(assets/icons/backAktivLang.png)' : 'none'">EN</button>
      </div>

      <label class="burger-btn" for="menuToggle">
        <span></span>
        <span></span>
        <span></span>
      </label>
    </div>
  </div>
</section>