@use "/styles/colors" as *;
@use "/styles/mixin/mixin" as *;


//---------------------TABLET--------------------------

@include tablet {

    .app_logo {
        display: none;
    }

    .menue_Entries {
        gap: 30px;

    }

    main {
        left: 50%;
        margin-left: -50vw;
        margin-right: -50vw;
    }

    .menue_inner {
        padding-left: 45px;
    }
}

//---------------------MOBIL--------------------------

@include mobile {

    main {
        width: auto;
        margin-bottom: 20px;
    }


    .font_3 {
        font-size: 24px !important;
    }

    .menue_Entries p {
       padding: 10px;
    }

    .menue_inner {
        padding: 30px 0px 25px;
    }

    .language_Icon {
        margin-right: 0;
    }
}

:host(.menu-full-width) {
    @include mobile {
        main {
            width: 100vw !important;
            left: 50% !important;
            margin-left: -50vw !important;
            margin-right: -50vw !important;
        }
    }
}