@use "styles/colors" as *;
@use "styles/mixin/mixin" as *;
main {
  position: sticky;
  top: 0px;
  display: flex;
  align-items: center;
  width: 100%;
  height: 104px;
  background-color: $primaryBlue;
  z-index: 10;
}

.section_heroMenue {
  display: flex;
  width: 100%;
  justify-items: center;
  align-items: center;
  justify-content: space-between;
  margin-left: 114px;
  margin-right: 114px;
}

:host ::ng-deep app-logo .logo {
  cursor: pointer;
}

.menue_Entries {
  width: 677px;
  display: flex;
  justify-content: space-between;
  font-family: "Josefin";
  p {
    &:hover {
      color: $cremeWhite;
    }
    padding: 15px 15px;
  }
}
.menue_Entries a {
  text-decoration: none;
  color: $mainColor;
}
.active {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

//-----------------------------------------------//

.language_Icon {
  display: flex;
  gap: 10px;
  button {
    border-style: none;
    border-width: 0;
    font-family: "Josefin";
    background-color: $primaryBlue;
    padding: 12px 12px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    &:hover {
      cursor: pointer;
      color: $cremeWhite;
    }
    &.language_aktiv {
      color: $cremeWhite;
      :hover {
        cursor: pointer;
      }
    }
  }
}

//---------------------Responsive--------------------------

@include desktop {
  .section_heroMenue {
    margin-left: 50px;
    margin-right: 50px;
  }
}

//---------------------TABLET--------------------------

@include tablet {
  .font_3 {
    font-size: 20px !important;
  }
  .app_logo {
    display: none;
  }

  .menue_Entries {
    width: 100%;
    display: flex;
    justify-content: start;

    padding: 0px 0px !important;
  }

  //---------------------MOBIL--------------------------
  @include mobile {
    main {
      //position: sticky; // relative
      top: 50px;
    }
  }
}
