@use "styles/colors" as *;
@use "styles/mixin/mixin" as *;
main {
  position: relative;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 70px;
  color: $cremeWhite;
}

.img_backround_mobil {
  display: none;
}

#menyAvPaa {
  display: none;
}

:host ::ng-deep app-logo .logo img:first-child {
  transition: transform 0.3s ease;
}

:host ::ng-deep app-logo .logo img:first-child:hover {
  transform: scaleX(1.2);
}

.hero_section {
  display: grid;
  width: 100%;
  height: 515px;
  .img_Background {
    grid-area: 1 / 1;
    margin-top: 0px;
    rotate: -45deg;
  }

  .hero_picture {
    position: relative;
    display: flex;
    width: 100%;
    height: 400px;
    top: 20px;
    left: 50px;
  }

  .img_Hero {
    grid-area: 1 / 1;
    z-index: 0;
    width: auto;
    height: 500px;
    margin-left: 40px;
  }
}

.hero_section:hover {
  .hero_bg_section {
    .original {
      opacity: 0;
    }
    .hover {
      opacity: 1;
    }
  }
}

.hero_bg_section {
  grid-area: 1/1;
  position: relative;
}

.hero_bg_section > img {
  position: absolute;
  //top: 0;
  //left: 0;
  //object-fit: contain;
  transition: opacity 0.5s ease-in-out, filter 0.5s ease-in-out;
}

.hero_bg_section .original {
  opacity: 1;
  //filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.3));
}
.hero_bg_section .hover {
  opacity: 0;
  //filter: drop-shadow(0 4x 4px rgba(0, 0, 0, 0.4));
  transform: scale(1);
}
.hero_bg_section:hover .original {
  opacity: 0;
}
.hero_bg_section:hover .hover {
  opacity: 1;
  //transform: scale(1);
}

.hero_Personal {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  // height: 710px;
  padding-top: 90px;

  .hero_Name {
    padding-top: 20px;
    p:first-of-type {
      line-height: 1;
      text-align: center;
      margin-bottom: 15px;
    }
  }
}

.hero_media {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 60%;
}

.app_Logo {
  margin-left: 46%;
}

.section {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 30px;
  height: 122px;

  img {
    height: 30px;
    width: 30px;
  }
  .section_img {
    @include icon_toggle();
  }
}

.hero_Name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.hero_Arrow {
  margin-top: 120px;
  height: 100%;
  margin-bottom: 20px !important;
  :hover {
    cursor: pointer;
    background-color: $lightGrey;
    border-radius: 30px;
    width: 38px;
    height: 89px;
  }
}

.menue_mobil {
  display: none;
}

//---------------------Desktop--------------------------

@include desktop {
  main {
    margin: 0;
  }
  .hero_Name {
    p:first-of-type {
      font-size: 60px;
    }
    p:last-of-type {
      font-size: 30px;
    }
  }
  .hero_media {
    width: 80%;
  }
}

//---------------------TABLET--------------------------

@include tablet {
  main {
    flex-direction: column;
    height: 800px;
  }

  .hero_Name {
    font-size: 48px;
    padding: 0;
    margin: 0;
  }

  .hero_bg_section > img.original {
    position: absolute;
    left: 32%; // 260px;
    top: -40px;
    transform: translateX(-50%);
    width: 40vw !important;
    max-width: 390px;
    min-width: 250px;
    height: auto;
    transform: rotate(45deg);
  }

  .hero_Personal {
    padding-top: 0;
    margin-top: 0;
  }

  .section {
    display: none;
  }

  .hero_Arrow {
    margin: 0;
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .hero_section.no-hover:hover .hero_bg_section .original {
    opacity: 1 !important; // bleibt sichtbar
  }
  .hero_section.no-hover:hover .hero_bg_section .hover {
    opacity: 0 !important; // bleibt unsichtbar
  }

  .hover {
    display: none;
    height: 0px;
  }

  .app_Logo {
    margin-left: 0;
    position: absolute !important;
    top: 15px;
    left: 22px !important;
  }

  .hero_bg_section img {
    display: none !important;
  }

  .hero_picture {
    left: 0px !important;
    top: 40px !important;
  }

  .img_backround_mobil {
    display: block;
    position: absolute;
    left: 50%; // 260px;
    top: 0px;
    transform: translateX(-50%) rotate(0deg);
    max-width: 390px;
    min-width: 250px;
    height: auto;
  }

  .img_Hero {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 30vw !important; // feste Breite
    max-width: 390px;
    min-width: 250px;
    height: auto !important;
    clip-path: circle(56% at 52% 51%);
    margin-left: 0px !important;
  }
}

//---------------------MOBIL--------------------------

@include mobile {
  #menyAvPaa:checked ~ .hero_section .img_Hero {
    display: none;
  }
  :host ::ng-deep #menyAvPaa:checked ~ .hero_section app-menue {
    .section_heroMenue {
      flex-direction: column;
      gap: 20px;
      background-color: none;
    }
    .menue_Entries {
      flex-direction: column;
    }
  }

  #menyAvPaa:checked ~ .hero_section .menue_mobil {
    display: flex;
    position: absolute;
    top: 200px;
    left: 50%;
    transform: translate(-50%);

    z-index: 999;
  }

  #burger {
    position: absolute;
    cursor: pointer;
    width: 32px;
    height: 32px;
    right: 20px;
    top: 20px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
  #burger > div {
    height: 2px;
    background-color: $cremeWhite;
    transition: 0.5s;
  }

  // X Wird gezeichnet
  #menyAvPaa:checked ~ .menue #burger > div {
    background-color: $cremeWhite;
  }
  #menyAvPaa:checked ~ .menue #burger > div:nth-child(1) {
    transform: translateY(15px) rotate(45deg);
  }
  #menyAvPaa:checked ~ .menue #burger > div:nth-child(2) {
    opacity: 0;
  }
  #menyAvPaa:checked ~ .menue #burger > div:nth-child(3) {
    transform: translateY(-15px) rotate(-45deg);
  }

  //Webseite

  .font_1 {
    font-size: 48px !important;
  }

  .font_2 {
    font-size: 24px !important;
  }

  main {
    height: 800px;
  }

  //.hero_bg_section > img.original {
  //  left: 30% !important;
  // }

  .hero_bg_section > img.original {
    left: 10%; // 260px;
    max-width: 300px;
    min-width: 320px;
    height: 420px;
  }

  .img_Hero {
    max-width: 300px;
    min-width: 300px;
  }
}
