@use "styles/colors" as *;
@use "styles/mixin/mixin" as *;

//---------------------Desktop--------------------------

@include desktop {
    main {
        margin: 0;
        gap: 160px;
    }

    .hero_Name {
        p:first-of-type {
            font-size: 60px;
        }

        p:last-of-type {
            font-size: 30px;
        }
    }

    .hero_media {
        width: 80%;
    }

    .img_Background {
        width: 550px;
    }

}

//---------------------TABLET--------------------------

@include tablet {
    main {
        gap: 30px;
        padding-top: 40px;
        height: auto;
    }

    .hero_Name {
        font-size: 48px;
        padding: 0;
        margin: 0;
    }

    .hero_picture {
        // margin-top: 80px;
    }

    .hero_Personal {
        padding-top: 0;
        margin-top: 0;
    }

    .section {
        display: none;
    }

    .hero_Arrow {
        margin: 0;
        padding-top: 20px;
        padding-bottom: 20px;

    }

    .hero_section.no-hover:hover .hero_bg_section .original {
        opacity: 1 !important;
    }

    .hero_section.no-hover:hover .hero_bg_section .hover {
        opacity: 0 !important;
    }

    .hover {
        display: none;
        height: 0px;
    }

    .app_Logo {
        margin-left: 0;
        position: absolute !important;
        top: 15px;
        left: 22px !important;
    }

    .hero_bg_section img {
        display: none !important;
    }

    .hero_picture {
        left: 0px !important;
        // top: 40px !important;
    }

    .img_backround_mobil {
        display: block;
        position: absolute;
        left: 50%;
        top: 0px;
        transform: translateX(-50%) rotate(0deg);
        max-width: 390px;
        min-width: 250px;
        height: auto;
    }

    .img_Hero {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        width: 30vw !important;
        max-width: 390px;
        min-width: 250px;
        height: auto !important;
        clip-path: circle(56% at 52% 51%);
        margin-left: 0px !important;
    }
}

//---------------------MOBIL--------------------------

@include mobile {

    main {
        flex-direction: column;
        //margin-top: 70px;
        padding: 0px;
        //margin-bottom: 80px;
    }

    #menyAvPaa {
        display: inline;
    }

    #menyAvPaa:checked~.hero_section .img_Hero {
        display: none;
    }

    .hero_section {
        margin-left: 0px;
    }


    :host ::ng-deep #menyAvPaa:checked~.hero_section app-menue {
        .section_heroMenue {
            flex-direction: column;
            gap: 20px;
            background-color: none;
        }

        .menue_Entries {
            flex-direction: column;
        }
    }

    #menyAvPaa:checked~.hero_section .menue_mobil {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 260px;
        left: 50%;
        transform: translateX(-50%);
    }

    .menue {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        height: 70px;
        background-color: $primaryBlue;
        z-index: 1000;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 20px;
        box-sizing: border-box;
    }

    .app_Logo {
        display: none;
    }

    .mobile-logo {
        display: flex;
        align-items: center;
        max-width: 120px;
        overflow: hidden;
    }

    .mobile-logo ::ng-deep app-logo {
        transform: scale(0.7);
        transform-origin: left center;
    }

    .hero_section {
        margin-top: 70px;
    }

    #burger {
        cursor: pointer;
        width: 32px;
        height: 32px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }

    #burger>div {
        height: 2px;
        background-color: $cremeWhite;
        transition: 0.5s;
    }

    #menyAvPaa:checked~.menue #burger>div {
        background-color: $cremeWhite;
    }

    #menyAvPaa:checked~.menue #burger>div:nth-child(1) {
        transform: translateY(15px) rotate(45deg);
    }

    #menyAvPaa:checked~.menue #burger>div:nth-child(2) {
        opacity: 0;
    }

    #menyAvPaa:checked~.menue #burger>div:nth-child(3) {
        transform: translateY(-15px) rotate(-45deg);
    }

    .font_1 {
        font-size: 48px !important;
    }

    .font_2 {
        font-size: 24px !important;
    }

    main {
        height: 800px;
    }

    .hero_Personal {
        gap: 10px;
    }

    .hero_media {
        margin-bottom: 0 !important;
    }

    .hero_Name {
        margin-top: 0 !important;
    }

    .hero_Arrow {
        margin-top: 0 !important;
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .hero_bg_section>img.original {
        left: 10%;
        max-width: 300px;
        min-width: 320px;
        height: 420px;
    }

    .img_Hero {
        max-width: 300px;
        min-width: 300px;
    }
}


//----------- Mobil Small (bis 480px) --------------

@include mobilesmall {
    main {
        //height: 700px;
        gap: 20px;
        padding: 0 !important;
        margin: 0 !important;
    }

    .font_1 {
        font-size: 40px !important;
    }

    .font_2 {
        font-size: 20px !important;
    }

    .img_backround_mobil {
        max-width: 250px;
        min-width: 220px;
        height: 380px;
    }

    .img_Hero {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        max-width: 230px !important;
        min-width: 200px !important;
        margin-top: 0;
    }

    .hero_picture {
        position: relative;
    }

    .hero_Personal {
        padding-top: 60px;
    }

    .app_Logo {
        top: 10px;
        left: 15px !important;
    }

    #burger {
        right: 15px;
        top: 15px;
        width: 28px;
        height: 28px;
    }

    .hero_Arrow {
        padding-top: 20px;
        padding-bottom: 20px;
    }
}