@use "styles/colors" as *;
@use "styles/mixin/mixin" as *;

main {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: $cremeWhite;
 
}

//Checkbox for mobile menu
#menyAvPaa {
  display: none;
}

//Logo Animation
:host ::ng-deep app-logo .logo img:first-child {
  transition: transform 0.3s ease;
}

:host ::ng-deep app-logo .logo img:first-child:hover {
  transform: scaleX(1.2);
}


.hero_picture {
  //background-color: yellow;
  position: relative;
  width: 50%;
  height: 400px;
  margin-top: 160px;
}

.img_first {
  width: 70%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.img_sec {
  width: 85%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}


//---------------------right--------------------------

.hero_Personal {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
    height: 400px;


  .hero_Name {
    p:first-of-type {
      line-height: 1;
      text-align: center;
      margin-bottom: 15px;
    }
  }
}

.hero_media {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
}

.app_Logo {
  margin-left: 45%;
}

//-------------------------------------

.section {
  position: absolute;
  top: 50px;
  right: 50px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 30px;
  //height: 122px;

  img {
    height: 30px;
    width: 30px;
  }

  .section_img {
    @include icon_toggle();
  }
}

.hero_Name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.hero_Arrow {
  margin-top: 120px;
  height: 100%;
  margin-bottom: 20px !important;

  :hover {
    cursor: pointer;
    background-color: $lightGrey;
    border-radius: 30px;
    width: 38px;
    height: 89px;
  }
}

.menue {
  display: none;
}

.menue_mobil {
  display: none;
}





//--Animation
.fade_element {
  animation: fadeInUp 1.0s forwards,
    fade_color_change 3.0s forwards;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateX(400px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fade_color_change {
  0% {
    color: $primaryBlue;
  }

  100% {
    color: $cremeWhite;
  }
}