<main>
  <input type="checkbox" id="menyAvPaa">
  <div class="menue">
    <div class="mobile-logo">
      <app-logo [dark]="false"></app-logo>
    </div>
    <label id="burger" for="menyAvPaa">
      <div></div>
      <div></div>
      <div></div>
    </label>
  </div>

  <div class="hero_section no-hover">
    <div class="hero_bg_section">
      <img class="img_Background original" src="assets/icons/bgshape.png" />
      <img class="img_Background hover" src="assets/icons/bgshape_hover.png" />
    </div>
    <div class="hero_picture">
      <img class="img_backround_mobil" src="assets/icons/bgshape.png" />
      <img class="img_Hero" src="assets/icons/CB_Picture.png" alt="Personal Image" />
    </div>
    <app-menue class="menue_mobil"></app-menue>
  </div>

  <div class="hero_Personal">
    <div class="hero_media">
      <app-logo class="app_Logo" [dark]="true"></app-logo>
      <div class="section">
        <div class="section_img">
          <a href="mailto:info@elektro-bock.com">
            <img class="img_start" src="assets/icons/Email_btn.png">
            <img class="img_hover" src="assets/icons/Email_btn_hover.png">
          </a>
        </div>
        <div class="section_img">
          <a href="https://github.com/BockDA" target="_blank" rel="noopener noreferrer">
            <img class="img_start" src="assets/icons/github_btn.png" />
            <img class="img_hover" src="assets/icons/github_btn_hover.png" />
          </a>
        </div>
        <div class="section_img">
          <img class="img_start" src="assets/icons/linkin_btn.png" />
          <img class="img_hover" src="assets/icons/linkin_btn_hover.png" />
        </div>
      </div>
    </div>
    <div class="hero_Name">
      <p class="font_1">Christian Bock</p>
      <p class="font_2">{{'HERO.ROLE' | translate}}</p>
    </div>
    <div class="hero_Arrow">
      <a (click)="setPosMenu('why-me')"><img src="assets/icons/Arrowdown.png" /></a>
    </div>
  </div>
</main>