@use "styles/colors" as *;
@use "styles/mixin/mixin" as *;

//---------------------Desktop--------------------------

@include desktop {
    .font_1 {
        font-size: 72px;
    }

    .img_first,
    .img_sec {
        width: 550px;
    }

    //---------------------TABLET--------------------------

    @include tablet {}

    .font_1 {
        font-size: 60px;
    }

    .font_2 {
        font-size: 24px;
    }

    .img_first,
    .img_sec {
        width: 430px;
    }
}

//---------------------MOBIL--------------------------

@include mobile {
    .font_1 {
        font-size: 45px;
    }

    .font_2 {
        font-size: 24px;
    }

    .img_first,
    .img_sec {
        display: none;
    }

    .hero_media {
        display: none;

    }

    .section_hero {
        flex-direction: column;
        height: 100%;
    }

    .hero_bg_section {
        width: 100%;
        height: 500px;
    }

    .hero_picture {
        position: relative;
        top: 20px;
        width: 100%;
        height: 100%;
        height: 500px;
    }


    .img_sec_mobil {
        display: flex;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 270px;
        height: auto;
    }

    //---------unten------------------

    .hero_Personal {
        width: 100%;
        height: 40vh;
    }

    .hero_Name {
        top: 30px;
        text-align: center;
        height: 100px;
    }

    .hero_Arrow {
        top: 150px;
    }

    #menyAvPaa:checked~.hero_bg_section .menue_mobil {
        display: flex;
        position: absolute;
        top: 220px;
        left: 50%;
        transform: translate(-50%);
        height: auto;
    }

    .menue {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 70px;
        background-color: $primaryBlue;
        z-index: 1000;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 20px;
        box-sizing: border-box;
    }

    .app_Logo {
        display: none;
    }

    :host ::ng-deep app-logo .logo {
        transform: scale(0.7);
    }


    //--- Menue Mobil anzeigen
    #menyAvPaa:checked~.hero_bg_section .img_sec_mobil {
        display: none;
    }

    #menyAvPaa:checked~.hero_bg_section .sec_menue {
        display: flex;
    }

    :host ::ng-deep .section_menue {
        width: 0;
        margin: 0;
        left: 0;
    }

    :host ::ng-deep .section_heroMenue {
        flex-direction: column;

    }

    :host ::ng-deep .menue_Entries {
        display: flex;
        flex-direction: column;
        gap: 0px;
    }

    #burger {
        cursor: pointer;
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }

    #burger>div {
        height: 2px;
        background-color: $cremeWhite;
        transition: 0.5s;
    }

    .section_hero:has(#menyAvPaa:checked) .menue #burger>div {
        background-color: $cremeWhite;
    }

    .section_hero:has(#menyAvPaa:checked) .menue #burger>div:nth-child(1) {
        transform: translateY(15px) rotate(45deg);
    }

    .section_hero:has(#menyAvPaa:checked) .menue #burger>div:nth-child(2) {
        opacity: 0;
    }

    .section_hero:has(#menyAvPaa:checked) .menue #burger>div:nth-child(3) {
        transform: translateY(-15px) rotate(-45deg);
    }

    .mobile-logo ::ng-deep app-logo {
        transform: scale(0.7);
        transform-origin: left center;
    }
}