@use "styles/colors" as *;
@use "styles/mixin/mixin" as *;

//---------------------Desktop--------------------------

@include desktop {

    .font_1 {
        font-size: 48px;
    }

    .font_2 {
        font-size: 28px;
    }
}

//---------------------TABLET--------------------------

@include tablet {


    .font_1 {
        font-size: 40px !important;
    }

    .font_2 {
        font-size: 24px !important;
    }

    .section {
        display: none;
    }

    .hero_Arrow {
        margin: 0;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .hover {
        display: none;
        height: 0px;
    }

    .app_Logo {
        margin-left: 0;
        position: absolute;
        top: 15px;
        left: 22px;
    }

    .hero_picture {
        .img_first {
            width: 70%;
            left: 55%;
        }

        .img_sec {
            width: 65%;
            left: 55%;
        }
    }


}

//---------------------MOBIL--------------------------

@include mobile {

    main {
         position: relative;
        flex-direction: column;
        gap: 0px;
        background-color: yellow;
        height: auto;

    }

    .hero_bg_section {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;

        .img_first {
            width: 100%;
            background-color: red;
        }

        .img_sec {
            width: 100%;

        }
    }

    .hero_Personal {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        background-color: blue;
    }

    .hero_Name {
        width: 100%;
        //height: 0%;
    }

    #menyAvPaa {
        background-color: yellow;
        display: inline;
        opacity: 0;
    }


    //Picture CB ausblenen    
    #menyAvPaa:checked~.hero_section .img_first {
        display: none;
    }






    :host ::ng-deep #menyAvPaa:checked~.hero_section app-menue {
        .section_heroMenue {
            flex-direction: column;
            gap: 0px;
            background-color: none;
        }

        .menue_Entries {
            flex-direction: column;
            gap: 5px;
        }
    }

    #menyAvPaa:checked~.menue_mobil {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 250px;
        left: 50%;
        transform: translateX(-50%);

    }

    .menue {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        height: 70px;
        background-color: $primaryBlue;
        z-index: 1000;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 20px;
        box-sizing: border-box;
    }

    .app_Logo {
        display: none;
    }




    .mobile-logo {
        display: flex;
        align-items: center;
        max-width: 120px;
        overflow: hidden;
    }

    .mobile-logo ::ng-deep app-logo {
        transform: scale(0.7);
        transform-origin: left center;
    }


    #burger {
        cursor: pointer;
        width: 32px;
        height: 32px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }

    #burger>div {
        height: 2px;
        background-color: $cremeWhite;
        transition: 0.5s;
    }

    #menyAvPaa:checked~.menue #burger>div {
        background-color: $cremeWhite;
    }

    #menyAvPaa:checked~.menue #burger>div:nth-child(1) {
        transform: translateY(15px) rotate(45deg);
    }

    #menyAvPaa:checked~.menue #burger>div:nth-child(2) {
        opacity: 0;
    }

    #menyAvPaa:checked~.menue #burger>div:nth-child(3) {
        transform: translateY(-15px) rotate(-45deg);
    }


    .hero_Arrow {
        margin-top: 0 !important;
        padding-top: 15px;
        padding-bottom: 15px;
    }


}


//----------- Mobil Small (bis 480px) --------------

@include mobilesmall {
    main {
        //margin-top: 70px;
        // padding-top: 0px;
        // padding-bottom: 100px;
    }




    .app_Logo {
        top: 10px;
        left: 15px !important;
    }

    #burger {
        right: 15px;
        top: 15px;
        width: 28px;
        height: 28px;
    }

    .hero_Arrow {
        padding-top: 20px;
        padding-bottom: 20px;
    }


}