@use "styles/colors" as *;
@use "styles/mixin/mixin" as *;

.section_hero {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: $cremeWhite;
  height: 100vh;
  overflow: hidden;

}

.hero_bg_section {
  position: relative;
  width: 50%;
  height: 100vh;
  background-color: yellow;

}

.hero_picture {
  position: absolute;
  bottom: calc(100px);
  left: 50%;
  transform: translateX(-50%);
  background-color: red;
}


.img_first {
  width: 600px;
  height: auto;
  z-index: 2;
}

.img_sec {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  height: auto;
  z-index: -1;
  opacity: 1;
  filter: blur(0px);
  transition: opacity 1200ms ease, filter 1200ms ease;
}

.img_sec_mobil {
  display: none;
}

.img_sec.img_hover {
  z-index: -1;
  opacity: 0;
  transition: opacity 1200ms ease, filter 1200ms ease;
}

.hero_picture:hover .img_sec {
  opacity: 0;
}

.hero_picture:hover .img_sec.img_hover {
  opacity: 1;
}


#menyAvPaa {
  display: none;
}

:host ::ng-deep app-logo .logo img:first-child {
  transition: transform 0.3s ease;
}

:host ::ng-deep app-logo .logo img:first-child:hover {
  transform: scaleX(1.2);
}


//---------------------right--------------------------

.hero_Personal {
  position: relative;
  width: 50%;
  height: 100vh;
  background-color: rgb(0, 110, 255);
}

.hero_Name {
  position: absolute;
  width: 100%;
  bottom: 435px;
  left: 50%;
  transform: translate(-50%, 0%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero_logo {
  position: absolute;
  bottom: 635px;
  left: 50%;
  transform: translate(-50%, 0%);
}

.app_Logo {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;

}

.hero_media {
  position: absolute;
  bottom: 635px;
  right: 10%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 30px;

  img {
    height: 30px;
    width: 30px;
  }

  .hero_media_img {
    @include icon_toggle();
  }
}


.hero_Arrow {
  position: absolute;
  left: 50%;
  bottom: 15%;
  transform: translateX(-50%);


  :hover {
    cursor: pointer;
    background-color: $lightGrey;
    border-radius: 30px;
    width: 38px;
    height: 89px;
  }
}


.menue {
  display: none;
}

.menue_mobil {
  display: none;
}

//-----------------Animation-----------------
ade_element {
  animation: fadeInUp 1.0s forwards,
    fade_color_change 3.0s forwards;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateX(400px);
  }


  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fade_color_change {
  0% {
    color: $primaryBlue;
  }

  100% {
    color: $cremeWhite;
  }
}