@use "styles/colors" as *;
@use "styles/mixin/mixin" as *;

//---------------------Desktop--------------------------

@include desktop {

    .font_1 {
        font-size: 48px;
    }

    .font_2 {
        font-size: 28px;
    }

    .img_first {
        width: 70%;
        top: 20%;
    }

    .img_sec {
        width: 70%;
        top: 20%;
    }

}

//---------------------TABLET--------------------------

@include tablet {
    .section_hero {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 100vh;

    }

    .hero_picture {
        margin-top: 0px;

    }

    .font_1 {
        font-size: 40px !important;
    }

    .font_2 {
        font-size: 24px !important;
    }


    .hover {
        display: none;
        height: 0px;
    }

    .app_Logo {
        margin-left: 0;
        position: absolute;
        top: 15px;
        left: 22px;
    }

    .hero_bg_section {
        .img_first {
            width: 70%;
            left: 55%;
            top: 70%;
        }

        .img_sec {
            width: 70%;
            left: 55%;
            top: 70%;
        }
    }

.hero_Arrow {
    margin-top: 50px;
}

    .section {
        opacity: 0;

    }

}

//---------------------MOBIL--------------------------

@include mobile {

    .section_hero {
        position: relative;
        flex-direction: column;
        justify-content: start;
        width: 100%;
        min-height: 850px;
        max-height: 100px;
    }


    .hero_picture {
        margin: 0;
        padding: 0;
        height: 600px;
        width: 100%;
    }

    .hero_bg_section {
        position: absolute;
        top: 330px;
        width: 100%;

        .img_first {
            left: 50%;
            width: 50%;
        }

        .img_sec {
            left: 50%;
            width: 50%;
        }
    }

    .hero_Personal {
        position: absolute;
        top: 680px;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: 120px;
    }

    .hero_Name {
        width: 100%;
    }



    #menyAvPaa:checked~.hero_bg_section .menue_mobil {
        display: flex;
        position: absolute;
        top: 0;
        left: 60%;
    }

    .menue {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 70px;
        background-color: $primaryBlue;
        z-index: 1000;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 20px;
        box-sizing: border-box;
    }

    .app_Logo {
        display: none;
    }

    :host ::ng-deep app-logo .logo {
        transform: scale(0.7);
    }


    //--- Menue Mobil anzeigen
    //Picture CB ausblenen    
    #menyAvPaa:checked~.hero_bg_section .img_first {
        display: none;
    }

    :host ::ng-deep .section_menue {
        width: 0;
        margin: 0;
        left: 0;
    }

    :host ::ng-deep .menue_inner {
        position: relative;
        width: 0%;

    }

    :host ::ng-deep .section_heroMenue {
        flex-direction: column;

    }

    :host ::ng-deep .menue_Entries {
        display: flex;
        flex-direction: column;
        gap: 0px;
    }

    #burger {
        cursor: pointer;
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }

    #burger>div {
        height: 2px;
        background-color: $cremeWhite;
        transition: 0.5s;
    }

    .section_hero:has(#menyAvPaa:checked) .menue #burger>div {
        background-color: $cremeWhite;
    }

    .section_hero:has(#menyAvPaa:checked) .menue #burger>div:nth-child(1) {
        transform: translateY(15px) rotate(45deg);
    }

    .section_hero:has(#menyAvPaa:checked) .menue #burger>div:nth-child(2) {
        opacity: 0;
    }

    .section_hero:has(#menyAvPaa:checked) .menue #burger>div:nth-child(3) {
        transform: translateY(-15px) rotate(-45deg);
    }


    .hero_Arrow {
        margin-top: 20px;
    }

    .mobile-logo ::ng-deep app-logo {
        transform: scale(0.7);
        transform-origin: left center;
    }

}

//----------- Mobil Small (bis 480px) --------------

@include mobilesmall {
    .hero_bg_section {
        .img_first {
            width: 90%;
        }

        .img_sec {
            width: 90%;
        }
    }
}