@use "styles/colors" as *;
@use "styles/mixin/mixin" as *;

//---------------------Desktop--------------------------

@include desktop {

    .font_1 {
        font-size: 48px;
    }

    .font_2 {
        font-size: 28px;
    }
}

//---------------------TABLET--------------------------

@include tablet {
    main {
        height: 600px;
    }

    .hero_picture {
        margin-top: 0px
    }

    .font_1 {
        font-size: 40px !important;
    }

    .font_2 {
        font-size: 24px !important;
    }

    .section {
        display: none;
    }

    .hover {
        display: none;
        height: 0px;
    }

    .app_Logo {
        margin-left: 0;
        position: absolute;
        top: 15px;
        left: 22px;
    }

    .hero_bg_section {
        .img_first {
            width: 50%;
            left: 55%;
        }

        .img_sec {
            width: 50%;
            left: 55%;
        }
    }

}

//---------------------MOBIL--------------------------

@include mobile {

    main {
        position: relative;
        flex-direction: column;
        background-color: yellow;
        width: 100%;
        min-height: 750px;

    }


    .hero_picture {
        margin: 0;
        padding: 0;
        background-color: greenyellow;
        height: 460px;
        width: 100%;
    }

    .hero_bg_section {
        position: absolute;
        top: 280px;
        width: 100%;

        .img_first {
            left: 50%;
            width: 70%;
        }

        .img_sec {
            left: 50%;
            width: 70%;
        }
    }

    .hero_Personal {
        position: absolute;
        top: 550px;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: 120px;
        background-color: blue;

    }

    .hero_Name {
        width: 100%;
    }



    //Picture CB ausblenen    
    #menyAvPaa:checked~.hero_bg_section .img_first {
        display: none;
    }


    #menyAvPaa:checked~.hero_bg_section .menue_mobil {
        display: flex;
        position: absolute;
        top: 0;
        left: 60%;

    }

    .menue {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 70px;
        background-color: $primaryBlue;
        z-index: 1000;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 20px;
        box-sizing: border-box;
 
    }

    .app_Logo {
        display: none;
    }


    :host ::ng-deep .menue_inner {
        position: absolute;
        top: 0;
        left: 0;
        background-color: yellow;
        //height: 600px;
        //width: 100%;
        // z-index: 10;
    }

    :host ::ng-deep .section_heroMenue {
        //background-color: green;
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 0;

    }

    :host ::ng-deep .menue_Entries {
                display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0px;
     

    }


    #burger {
        cursor: pointer;
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }

    #burger>div {
        height: 2px;
        background-color: $cremeWhite;
        transition: 0.5s;
    }

    #menyAvPaa:checked~.menue #burger>div {
        background-color: $cremeWhite;
    }

    #menyAvPaa:checked~.menue #burger>div:nth-child(1) {
        transform: translateY(15px) rotate(45deg);
    }

    #menyAvPaa:checked~.menue #burger>div:nth-child(2) {
        opacity: 0;
    }

    #menyAvPaa:checked~.menue #burger>div:nth-child(3) {
        transform: translateY(-15px) rotate(-45deg);
    }


    .hero_Arrow {
        margin-top: 20px;
        //padding-top: 15px;
        //padding-bottom: 100px;
    }

    .mobile-logo {
        display: flex;
        align-items: center;
        max-width: 120px;
        overflow: hidden;
    }

    .mobile-logo ::ng-deep app-logo {
        transform: scale(0.7);
        transform-origin: left center;
    }

}

//----------- Mobil Small (bis 480px) --------------

@include mobilesmall {
    .hero_bg_section {
        .img_first {
            width: 70%;
        }

        .img_sec {
            width: 70%;
        }
    }
}