@use "styles/colors" as *;
@use "styles/mixin/mixin" as *;

main {
  position: relative;
  min-height: 100vh;
  max-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 70px;
  color: $cremeWhite;
  padding-bottom: 200px;
  overflow: hidden;
}

.img_backround_mobil {
  display: none;
}

#menyAvPaa {
  display: none;
}

:host ::ng-deep app-logo .logo img:first-child {
  transition: transform 0.3s ease;
}

:host ::ng-deep app-logo .logo img:first-child:hover {
  transform: scaleX(1.2);
}

.hero_picture {
  position: relative;
  display: flex;
  width: 100%;
  height: 400px;
}

.hero_section {
  display: grid;
  width: 100%;
  height: 515px;
  margin-left: 120px;

  .img_Background {
    grid-area: 1 / 1;
    margin-top: 0px;
    rotate: -45deg;
  }

  .hero_picture {
    position: relative;
    display: flex;
    width: 100%;
    height: 400px;
    left: 70px;
  }

  .img_Hero {
    grid-area: 1 / 1;
    z-index: 0;
    width: auto;
    height: 500px;
    margin-left: 40px;
  }
}

.hero_section:hover {
  .hero_bg_section {
    .original {
      opacity: 0;
    }

    .hover {
      opacity: 1;
    }
  }
}

.hero_bg_section {
  grid-area: 1/1;
  position: relative;
}

.hero_bg_section>img {
  position: absolute;
  transition: opacity 0.5s ease-in-out, filter 0.5s ease-in-out;
}

.hero_bg_section .original {
  opacity: 1;
}

.hero_bg_section .hover {
  opacity: 0;
  transform: scale(1);
}

.hero_bg_section:hover .original {
  opacity: 0;
}

.hero_bg_section:hover .hover {
  opacity: 1;
}

.hero_Personal {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-top: 90px;

  .hero_Name {
    p:first-of-type {
      line-height: 1;
      text-align: center;
      margin-bottom: 15px;
    }
  }
}

.hero_media {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 60%;
}

.app_Logo {
  margin-left: 46%;
}

.section {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 30px;
  height: 122px;

  img {
    height: 30px;
    width: 30px;
  }

  .section_img {
    @include icon_toggle();
  }
}

.hero_Name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.hero_Arrow {
  margin-top: 120px;
  height: 100%;
  margin-bottom: 20px !important;

  :hover {
    cursor: pointer;
    background-color: $lightGrey;
    border-radius: 30px;
    width: 38px;
    height: 89px;
  }
}

.menue_mobil {
  display: none;
}

.menue {
  display: none;
}

.mobile-logo {
  display: none;
}


//--Animation
.fade_element {
  animation: fadeInUp 1.0s forwards,
    fade_color_change 3.0s forwards;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateX(400px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fade_color_change {
  0% {
    color: $primaryBlue;
  }

  100% {
    color: $cremeWhite;
  }
}