@use "styles/colors" as *;
.player_Cards {
  font-family: "Josefin";
  display: grid;
  grid-auto-flow: column;
  gap: 30px;
  padding: 20px;
}

.player_Card_Section {
  display: grid;
  position: relative;
  color: black;

  .player_Card_Img {
    grid-area: 1 / 1;
  }

  .player_Card_Img img {
    width: 100%;
    height: auto;
    display: block;
  }

  .tplayer_name {
    padding-bottom: 10px;
  }

  .players_Card_Contents {
    grid-area: 1 / 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; /* oben statt zentriert */
    color: $cremeWhite; // white;
    text-align: center;
    padding-top: 50px; /* etwas Abstand vom Rand */
    .color_Text {
      color: $primaryBlue;
    }

    .description_Text {
      text-align: center;
      max-width: 260px;
      height: auto;
      padding-bottom: 19px;
    }
  }
}
