@use "styles/colors" as *;
@use "styles/mixin/mixin" as *;

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Josefin";
  color: $primaryBlue; 
  height: auto;
  padding-bottom: 60px;
  
 }

.tPlayer_Headline {
  display: flex;
  margin-top: 40px;
  margin-bottom: 60px;
}

.tPlayer_Card {
  width: auto; 
}


* {
  outline: 1px solid red;
}



//---------------------Responsive--------------------------

@include desktop {
    .tPlayer_Headline {
    text-align: center;
  }
}

//-------------------Mobil-----------------------------------

@include mobile {
  main {
    display: block;
    align-items: flex-start;
  }

  .tPlayer_Headline {
    flex-direction: column;
    gap: 10px;

    p:first-child {
      font-size: 32px;
      color: $primaryBlue;
    }
    p:last-child {
      font-size: 18px;
      color:$cremeWhite;
    }
  }
}
