@use "styles/colors" as *;
@use "styles/mixin/mixin" as *;

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Josefin";
  color: $primaryBlue; // #f8f5ec;
  width: 100%;
  height: auto;
  padding-bottom: 60px;
  //background-color: blue;
}

.tPlayer_Headline {
  display: flex;
  margin-top: 40px;
  margin-bottom: 60px;
}

.tPlayer_Section {
  //display: grid;
}

.tPlayer_Card {
  width: auto; //100%;
}

//---------------------Responsive--------------------------

@include desktop {
  main {
    //background-color: red;
  }

  .tPlayer_Headline {
    text-align: center;
  }
}

//-------------------Mobil-----------------------------------

@include mobile {
  .tPlayer_Headline {
    flex-direction: column;
    gap: 10px;

    p:first-child {
      font-size: 32px;
      color: $primaryBlue;
    }
    p:last-child {
      font-size: 18px;
      color: white;
    }
  }
  
}
