@use "styles/colors" as *;
@use "styles/mixin/mixin" as *;

main {
  max-width: 1920px;

  font-family: "Josefin";
  color: $primaryBlue;
  padding-bottom: 60px;

}

.tPlayer_Headline {
  display: flex;
  margin-top: 40px;
  margin-bottom: 60px;
}

.tPlayer_Section {
  width: auto;
}

//---------------------Responsive--------------------------

@include desktop {
  .tPlayer_Headline {
    flex-direction: column;
    text-align: center;
  }
}

//-------------------Mobil-----------------------------------

@include tablet {
  main {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }

  p:first-child {
    font-size: 24px;
    color: $primaryBlue;
  }

  p:last-child {
    font-size: 18px;
    color: $cremeWhite;
  }
}