@use "styles/colors" as *;
@use "styles/mixin/mixin" as *;


@include desktop {
    .tPlayer_Headline {
        flex-direction: column;
        text-align: center;
    }
}

//---------------------TABLET--------------------------

@include tablet {
    main {
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 40px;
        overflow-x: hidden;
    }
    .tPlayer_Headline {
        margin-top: 30px;
        margin-bottom: 40px;
        padding: 0 20px;
        p:first-child {
            font-size: 32px;
        }
        p:last-child {
            font-size: 24px;
            color: $cremeWhite;
        }
    }
}

//-------------------Mobil-----------------------------------

@include mobile {
    main {
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 30px;
        overflow-x: hidden;
        width: 100%;
        max-width: 100vw;
    }

    .tPlayer_Headline {
        margin-top: 20px;
        margin-bottom: 30px;
        padding: 0 20px;
        gap: 5px;
        p:first-child {
            font-size: 24px;
        }

        p:last-child {
            font-size: 18px;
            color: $cremeWhite;
        }
    }

    .tPlayer_Section {
        width: 100%;
        overflow-x: hidden;
        margin: 0;
        padding: 0;
    }
}

//---------------------MOBIL SMALL (bis 480px)--------------------------

@include mobilesmall {
    main {
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 20px;
        overflow-x: hidden;
        width: 100%;
        max-width: 100vw;
        box-sizing: border-box;
    }

    .tPlayer_Headline {
        margin-top: 20px;
        margin-bottom: 25px;
        padding: 0 10px;
        gap: 5px;
        p {
            margin: 0;
            padding: 0 5px;
        }
        p:first-child {
            font-size: 22px !important;
            line-height: 1.2;
        }
        p:last-child {
            font-size: 16px !important;
            line-height: 1.3;
        }
    }

    .tPlayer_Section {
        width: 100%;
        overflow-x: hidden;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
}