@use "styles/colors" as *;
@use "styles/mixin/mixin" as *;

main {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  font-family: "Josefin";
  color: $primaryBlue;
  padding-bottom: 60px;
}

.tPlayer_Headline {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 60px;
  gap: 10px;
 /*
   TODO: 
 */
  //opacity: 0;

  p {
    margin: 0;
    line-height: 1.2;
  }
}

.tPlayer_Headline.animat_1 {
  animation: slideInFromRight 0.8s ease-out forwards;
}


.tPlayer_Section {
  width: 100%;
  //overflow-x: hidden;
}


//---------Animation ----------
/*

@keyframes slideInFromRight {
  0% {
    opacity: 0;
    transform: translateX(200px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

*/