   @use "styles/colors" as *;
   @use "styles/mixin/mixin" as *;

   //---------------------DESKTOP--------------------------

   @include desktop {
       .font_5 {
           font-size: 48px;
       }

       .whyme_innerSection {
           margin-left: 0px;
       }
   }

   //---------------------TABLET--------------------------

   @include tablet {
       .section_whyme {
           padding-top: 60px;
       }

       .font_5 {
           font-size: 48px;
       }

       .font_10 {
           font-size: 24px;
       }

       .whyme_Titel {
           margin-top: 80px;
       }

       .whyme_innerSection {
           flex-direction: column;
           margin-left: 0;
           gap: 30px;
       }

       .whyme_Description {
           width: 100%;
           max-width: 500px;
           align-items: center;
           text-align: center;
       }

       .whyme_locale {
           width: 100%;
           max-width: 400px;
           justify-content: center;
       }
   }

   //---------------------MOBIL--------------------------

   @include mobile {

       .section_whyme {
           width: 100%;
           padding-top: 10px;
       }


       .font_5 {
           font-size: 32px;
       }

       .font_10 {
           font-size: 16px;
       }

       .font_8 {
           font-size: 16px;
       }

       .whyme_Section {
           margin: 0;
           padding: 0;
           width: 100%;

       }

       .whyme_Titel {
           width: 100%;
           height: 40px;
           align-items: center;
           margin-top: 40px;
           margin-bottom: 20px;
       }


       .whyme_innerSection {
           flex-direction: column;
           margin-top: 20px;
           margin-left: 10px;
           gap: 10px;
           pointer-events: none;
       }

       .whyme_locale {
           width: 100%;
           margin: 0;
           justify-content: center;
           img {
               width: 32px;
               height: 40px;
           }
       }

       .whyme_Description {
           width: 100%;
           padding: 0 10px;
           align-items: center;
           text-align: center;
           a {
               display: none;
           }
       }
   }
