<section class="section_whyme">
    <div class="whyme_Section">
        <div class="whyme_Titel">
            <p class="font_e ">{{ "NAV.WHY_ME" | translate }}</p>
        </div>
        <div class="whyme_innerSection">
            <div class="whyme_locale">
                <img src="assets/icons/locale.png" />
                <p class="font_j">
                    <span class="color">{{ ("WHYME.INTRO_PREFIX" | translate)}}</span>{{ ("WHYME.INTRO_SUFFIX" |
                    translate)}}
                </p>
            </div>
            <div class="whyme_Description">
                <p class="font_h whyme_Text "> {{ "WHYME.DESCRIPTION" | translate }}</p>
            </div>
        </div>
    </div>
    <div class="btn_letstalk">
        <a (click)="setPosMenu('contact')"> <img src="assets/icons/btnLetstalk.png">
        </a>
    </div>
</section>