@use "styles/colors" as *;
@use "styles/mixin/mixin" as *;

.section_whyme {
  position: relative;
  display: flex;
  font-family: "Anta";
  color: $cremeWhite;
  width: 100%;
  height: 507px;
  box-sizing: border-box;
  overflow: hidden;
}

.whyme_Section {

  font-family: "Josefin";
  width: 100%;

}

.whyme_Titel {
  color: $primaryBlue;
  display: flex;
  justify-content: center;
  margin-top: 150px;
  //opacity: 0;
}

.whyme_Titel.animate-intro {
  animation: slideInFromRight 0.8s ease-out forwards;
}

.whyme_innerSection {
  display: flex;
  flex-direction: row;
  margin-left: 60px;
  align-items: center;
  justify-content: center;
  gap: 40px;
  margin-top: 40px;
}

.whyme_Description {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 30px;
  width: 380px;
  max-width: 100%;
  margin-top: 30px;
  //opacity: 0;

  :hover {
    cursor: pointer;
    background-color: $lightGrey;
    border-radius: 30px;
  }
}

.whyme_Description.animate-intro {
  animation: slideInFromRight 0.8s ease-out forwards;
}

.whyme_locale {
  display: flex;
  align-items: center;
  gap: 30px;
  width: 45%;
  min-width: 300px;
  //opacity: 0;
}

.whyme_locale.animate-intro {
  animation: slideInFromRight 0.2s ease-out forwards;
}

.font_j {
  .color {
    color: $primaryBlue;
  }
}

.btn_letstalk {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 134px;
  height: 48px;
  border-style: solid;
  border-width: 1px;
  border-radius: 30px;
  border-color: $primaryBlue;
  color: $primaryBlue;
  font-family: "Josefin";
  font-size: 18px;

  &:hover {
    cursor: pointer;
    background-color: $lightGrey;
  }

  position: absolute;
  top:450px;
  left:75%;
}

//----Aninmation -------

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes slideInFromRight {
  0% {
    opacity: 0;
    transform: translateX(200px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}