   @use "styles/colors" as *;
   @use "styles/mixin/mixin" as *;

   //---------------------DESKTOP--------------------------

   @include desktop {
       .whyme_innerSection {
           margin-left: 0px;
       }
   }



   //---------------------TABLET--------------------------

   @include tablet {
       .section_whyme {
           padding-top: 60px;
       }

       .font_10 {
           font-size: 24px;
       }

       .whyme_Titel {
           margin-top: 80px;
       }

       .whyme_innerSection {
           flex-direction: column;
           margin-left: 0;
       }

       .whyme_Description {
           width: 100%;
           max-width: 500px;
           align-items: center;
           text-align: center;
       }

       .whyme_locale {
           position: absolute;
           top: 350px;
           left: 50%;
           transform: translateX(-50%);
       }

       .btn_letstalk {
           top: 450px;
           left: 75%;
       }
   }

   //---------------------MOBIL--------------------------

   @include mobile {

       .section_whyme {
           width: 100%;
           height: 370px;
           padding-top: 0px;
       }

       .font_5 {
           font-size: 40px;
       }

       .font_10 {
           font-size: 16px;
       }

       .font_8 {
           font-size: 16px;
       }

       .whyme_locale {
           top: 290px;
           gap: 20px;

           img {
               height: 60px;
               width: 65px;
           }
       }

       .btn_letstalk {
           display: none;
       }
   }