@use "styles/colors" as *;
@use "styles/mixin/mixin" as *;

main {
  display: flex;
  font-family: "Anta";
  color: $cremeWhite;
  width: 100%;
  padding: 0 20px;
  box-sizing: border-box;
}

.whyme_Section {
  font-family: "Josefin";
  width: 100%;
  height: auto;
}

.whyme_Titel {
  color: $primaryBlue;
  display: flex;
  justify-content: center;
  margin-top: 115px;
   opacity: 0;
}

.whyme_Titel.animat_1 {
  animation: slideInFromRight 0.8s ease-out forwards;
}

.whyme_innerSection {
  display: flex;
  flex-direction: row;
  margin-left: 60px;
  align-items: center;
  justify-content: center;
  gap: 40px;
  margin-top: 40px;
  flex-wrap: wrap;
}

.whyme_Description {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 30px;
  width: 380px;
  max-width: 100%;
  margin-top: 30px;
  opacity: 0;

  :hover {
    cursor: pointer;
    background-color: $lightGrey;
    border-radius: 30px;
  }
}

.whyme_Description.animat_1 {
  animation: slideInFromRight 0.8s ease-out forwards;
}



.whyme_locale {
  display: flex;
  align-items: center;
  gap: 30px;
  width: 45%;
  min-width: 300px;
  opacity: 0;
}

.whyme_locale.animat_1 {
  animation: slideInFromRight 0.8s ease-out forwards;
}


.font_10 {
  .color {
    color: $primaryBlue;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slideInFromRight {
  0% {
    opacity: 0;
    transform: translateX(200px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

