   @use "styles/colors" as *;
   @use "styles/mixin/mixin" as *;

   //---------------------DESKTOP--------------------------

   @include desktop {
       .whyme_innerSection {
           margin-left: 0px;
       }
   }

   //---------------------TABLET--------------------------

   @include tablet {
       .section_whyme {
           padding-top: 60px;
       }

       .font_j {
           font-size: 24px;
       }

       .whyme_Titel {
           margin-top: 80px;
       }

       .whyme_innerSection {
           flex-direction: column;
           margin-left: 0;
       }

       .whyme_Description {
           width: 100%;
           max-width: 500px;
           align-items: center;
           text-align: center;
       }

       .btn_letstalk {
           top: 450px;
           left: 75%;
       }
   }

   //---------------------MOBIL--------------------------

   @include mobile {

       .section_whyme {
           width: 100%;
           height: 370px;
           padding-top: 0px;
       }

       .font_e {
           font-size: 40px;
       }

       .font_j {
           font-size: 16px;
       }

       .font_h {
           font-size: 16px;
       }

       .whyme_innerSection {
           gap: 0px;
       }

       .whyme_locale {
           img {
               height: 40px;
               width: 45px;
           }
       }




       .font_e {
           font-size: 40px;
       }

       .btn_letstalk {
           display: none;
       }
   }