@use "styles/colors" as *;
@use "styles/mixin/mixin" as *;

main {
  display: flex;
  font-family: "Anta";
  color: $cremeWhite;
  width: 100%;
}

.whyme_Section {
  font-family: "Josefin";
  width: 100%;
  height: auto;
}

.whyme_Titel {
  color: $primaryBlue;
  display: flex;
  justify-content: center;
  margin-top: 115px;
}

.whyme_innerSection {
  display: flex;
  flex-direction: row;
  margin-left: 60px;
  align-items: center;
  justify-content: center;
  gap: -40px;
  margin-top: 40px;
}

.whyme_Description {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 30px;
  width: 380px;
  margin-top: 30px;

  :hover {
    cursor: pointer;
    background-color: $lightGrey;
    border-radius: 30px;
  }
}

.whyme_locale {
  display: flex;
  gap: 30px;
  width: 45%;
}

.font_10 {
  .color {
    color: $primaryBlue;
  }
}


//---------------------Responsive--------------------------

@include desktop {
  .font_5 {
    font-size: 48px;
  }

  .whyme_innerSection {
    margin-left: 0px;
  }
}

//---------------------TABLET--------------------------

@include tablet {
  .font_5 {
    font-size: 48px;
  }

  .font_10 {
    font-size: 24px;
  }
}

@include mobile {
  .font_5 {
    font-size: 32px;
  }
}

//---------------------MOBIL--------------------------

@include mobile {
  .font_10 {
    font-size: 16px;
  }

  .font_8 {
    font-size: 16px;
  }

  .whyme_Titel {
    margin: 0;
  }

  .whyme_innerSection {
    flex-direction: column;
    margin-top: 30px;
    margin-left: 0;
    pointer-events: none;
  }

  .whyme_locale {
    margin: 0;

    img {
      width: 32px;
      height: 40px;
    }
  }

  .whyme_Description a {
    display: none;
  }

  .whyme_Description {
    max-width: 300px;
    padding: 0 5px 0 5px;
  }
}