@use "styles/colors" as *;
@use "styles/mixin/mixin" as *;

.section_contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Josefin";
  color: $primaryBlue;
  position: relative;
  width: 100%;
  padding-bottom: 60px;
  padding-top: 120px;
  padding-left: 20px;
  padding-right: 20px;
}

.contact_Headline_Container {
  margin-top: 60px;
  display: flex;
  flex-direction: row;
  align-items: start;
  gap: 30px;
}

.contac_Headline {
  font-family: "Anta";
  /*
    TODO: 
  */
  //opacity: 0;
}

.contac_Headline.animat_1 {
  opacity: 1;
  animation: slideInFromLeft 0.8s ease-out forwards;
}


.hero_ArrowUp {
  position: absolute;
  top: 160px;
  left: 80%;
  transform: translateX(-50%);
  cursor: pointer;
  /*
    TODO: 
  */
  //opacity: 0;
}

.hero_ArrowUp.animat_1 {
  opacity: 1;
  animation: fadeIn 1.8s ease-out forwards;
}

.contac_Introduction {
  margin: 60px 0 60px;
  gap: 100px;
  color: $cremeWhite;
}

.contac_Description {
  width: 100%;
  max-width: 450px;
  min-width: 280px;
  flex: 1;
  /*
    TODO: 
  */
  //opacity: 0;
}

.contac_Description.animat_1 {
  animation: slideInFromLeft 0.8s ease-out forwards;
}

.contac_Description p {
  line-height: 1.4;
}

.contac_Section {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  max-width: 450px;
  min-width: 280px;
  flex: 1;
  margin-top: 40px;
}

.section {
  display: flex;
  align-items: center;
  gap: 15px;
  /*
    TODO: 
  */
  //opacity: 0;

  .section_img {
    @include icon_toggle();
  }
}

.section.animat_1 {
  animation: slideInFromRight 0.8s ease-out forwards;
}



.section:hover {
  color: $primaryBlue;

  .section_img {
    .img_start {
      opacity: 0;
    }

    .img_hover {
      opacity: 1;
    }
  }
}

.contac_Formular_Section {
  display: flex;
  flex-direction: column;
  width: 100%;
  color: $primaryBlue;
  padding: 0 20px;
  box-sizing: border-box;

  label {
    padding-bottom: 5px;
    margin-left: 20px;
    font-size: 18px;
    font-weight: 400;
  }
}

.contact_Field {
  /*
    TODO: 
  */
  //opacity: 0;
}

.contact_Field.animat_1 {
  animation: slideInFromLeft 0.8s ease-out forwards;
}


.container_mail {
 /*
   TODO: 
 */
  //opacity: 0;
}

.container_mail.animat_1 {
  animation: slideInFromRight 0.8s ease-out forwards;
}


.contac_Field_Sec1 {
  display: flex;
  gap: 10px;
  margin-bottom: 21px;

  div {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}

input {
  height: 60px;
}

input[type="text"],
[type="email"],
select,
textarea {
  padding: 12px;
  border-radius: 30px;
  border-style: solid;
  border-width: 1.5px;
  border-color: $primaryBlue;
  background-color: $mainColor;
  color: $cremeWhite;
  outline: none;
  font-size: 16px;
  font-family: "Josefin";

  &:focus {
    background-color: $inputColor;
    border-color: $primaryBlue;
    box-shadow: none;
  }
}

#message {
  height: 162px;
  resize: none;
}

.container_message {
  display: flex;
  flex-direction: column;
 /*
   TODO: 
 */
  //opacity: 0;
}

.container_message.animat_1 {
  animation: slideInFromLeft 0.8s ease-out forwards;
}

.visually-hidden {
  position: absolute !important;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  white-space: nowrap;
}

.contac_PrivacyPolicy {
  margin-top: 20px;
  display: flex;
  align-items: center;
  gap: 12px;
  cursor: pointer;
  user-select: none;
  outline: none;

  &:focus {
    outline: 2px solid rgba(0, 0, 0, 0.2);
    outline-offset: 2px;
  }

  img {
    width: 20px;
    height: 20px;
    display: block;
  }

  p {
    margin: 0;
    color: $cremeWhite;
  }

  p ::ng-deep a {
    text-decoration: none;
    color: $primaryBlue;
  }
}

.section_submit {
  width: 100%;
  display: flex;
  align-items: center;

  &.disabled {
    cursor: not-allowed;
  }

  input.disabled {
    opacity: 0.6;
  }
}

input[type="submit"] {
  width: 101px;
  height: 48px;
  border-radius: 30px;
  border-style: solid;
  border-width: 1.5px;
  border-color: $primaryBlue;
  background-color: $mainColor;
  color: $cremeWhite;
  cursor: pointer;
  margin-top: 21px;
}

input[type="submit"].disabled {
  pointer-events: none;
  opacity: 0.6;
  cursor: not-allowed;
}

input[type="submit"]:not(:disabled) {
  background-color: $mainColor;
  border-color: $primaryBlue;
  color: $cremeWhite;
  box-shadow: 0 0 8px rgba($primaryBlue, 0.5);
}

input.ng-invalid.ng-touched,
textarea.ng-invalid.ng-touched {
  border: 2px solid $errorRed;
}

.error_notice {
  height: 20px;
  font-size: 16px;
  color: $errorRed;
  opacity: 0;
  transition: opacity 0.5s ease;
  padding: 5px;
}

input.ng-invalid.ng-touched+.error_notice,
textarea.ng-invalid.ng-touched+.error_notice {
  display: block;
  opacity: 1;
}


.toast {
  position: fixed;
  bottom: 250px;
  left: 50%;
  transform: translateX(-50%);
  width: 230px;
  padding: 14px 22px;
  border-radius: 16px;
  color: $cremeWhite;
  font-size: 16px;
  letter-spacing: 0.3px;
  box-shadow: $mainColor;
  transition: opacity 0.6s ease-in-out;
  opacity: 1;

  &.success {
    background: $primaryBlue;
    border-color: $primaryBlue;
    border: 1px solid $lightGrey;
  }

  &.error {
    border-color: $primaryBlue;
    background: $errorRed;
    border: 1px solid $lightGrey;
  }
}

//---------Animation ----------

/*
@keyframes slideInFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-200px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideInFromRight {
  0% {
    opacity: 0;
    transform: translateX(200px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

*/