@use "styles/colors" as *;
@use "styles/mixin/mixin" as *;

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Josefin";
  color: $primaryBlue;
  position: relative;
  width: 100%;
  padding-bottom: 60px;
  padding-top: 120px;
}

.contact_Headline_Container {
  display: flex;
  flex-direction: row;
  align-items: start;
  gap: 30px;
}

.contac_Headline {
  font-family: "Anta";
}

.hero_ArrowUp {
  position: absolute;
  top: 100px;
  left: 80%;
  transform: translateX(-50%);
  cursor: pointer;
}

.contac_Introduction {
  margin-top: 60px;
  width: 911px;
  display: flex;
  justify-content: center;
  gap: 100px;
  color: $cremeWhite;
  margin-bottom: 80px;
}

.contac_Description p {
  line-height: 1.4;
}

.contac_Section {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 50%;
}

.section {
  display: flex;
  align-items: center;
  gap: 10px;

  .section_img {
    @include icon_toggle();
  }
}

.section:hover {
  color: $primaryBlue;

  .section_img {
    .img_start {
      opacity: 0;
    }

    .img_hover {
      opacity: 1;
    }
  }
}

.contac_Formular_Section {
  display: flex;
  flex-direction: column;
  width: 911px;
  color: $primaryBlue;

  label {
    padding-bottom: 5px;
    margin-left: 20px;
    font-size: 14px;
    font-weight: 400;
  }
}

.contac_Field_Sec1 {
  display: flex;
  gap: 10px;
  margin-bottom: 21px;

  div {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

}

input {
  height: 60px;
}

input[type="text"],
[type="email"],
select,
textarea {
  padding: 12px;
  border-radius: 30px;
  border-style: solid;
  border-width: 1.5px;
  border-color: $primaryBlue;
  background-color: $mainColor;
  color: $cremeWhite;
  outline: none;
  font-size: 16px;
  font-family: "Josefin";



  &:focus {
    background-color: $inputColor;
    border-color: $primaryBlue;
    box-shadow: none;
  }
}

#message {
  height: 162px;
  resize: none;
}

.visually-hidden {
  position: absolute !important;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
  white-space: nowrap;
}

.contac_PrivacyPolicy {
  margin-top: 20px;
  display: flex;
  align-items: center;
  gap: 12px;
  cursor: pointer;
  user-select: none;
  outline: none;

  &:focus {
    outline: 2px solid rgba(0, 0, 0, 0.2);
    outline-offset: 2px;
  }

  img {
    width: 20px;
    height: 20px;
    display: block;
  }

  p {
    margin: 0;
    color: $cremeWhite;
  }

  p ::ng-deep a {
    text-decoration: none;
    color: $primaryBlue;
  }
}

.section_submit input.disabled {
  opacity: 0.6;
}

.section_submit {
  cursor: not-allowed;
}

.section_submit {
  width: 100%;
  display: flex;
  align-items: center;
}

input[type="submit"] {
  width: 101px;
  height: 48px;
  border-radius: 30px;
  border-style: solid;
  border-width: 1.5px;
  border-color: $primaryBlue;
  background-color: $mainColor;
  color: $cremeWhite;
  cursor: pointer;
  margin-top: 21px;
}

input[type="submit"].disabled {
  pointer-events: none;
  opacity: 0.6;
  cursor: not-allowed;
}

input[type="submit"]:not(:disabled) {
  background-color: $mainColor;
  border-color: $primaryBlue;
  color: $cremeWhite;
  //transform: scale(1.05);
  box-shadow: 0 0 8px rgba($primaryBlue, 0.5);
}

input.ng-invalid.ng-touched,
textarea.ng-invalid.ng-touched {
  border: 2px solid $errorRed;
}



.error_notice {
  height: 20px;
  font-size: 12px;
  color: $errorRed;
  opacity: 0;
  transition: opacity 0.5s ease;
  padding: 5px;

}


input.ng-invalid.ng-touched+.error_notice,
textarea.ng-invalid.ng-touched+.error_notice {
  display: block;
  opacity: 1;
}


.toast {
  position: fixed;
  bottom: 250px;
  left: 50%;
  transform: translateX(-50%);
  width: 230px;
  padding: 14px 22px;
  border-radius: 16px;
  color: $cremeWhite;
  font-size: 16px;
  letter-spacing: 0.3px;
  box-shadow: $mainColor;
  transition: opacity 0.6s ease-in-out;
  opacity: 1;

  &.success {
    background: $primaryBlue;
    border-color: $primaryBlue;
    border: 1px solid $lightGrey;
  }

  &.error {
    border-color: $primaryBlue;
    background: $errorRed;
    border: 1px solid $lightGrey;
  }
}

//---------------------Responsive--------------------------

@include desktop {
  .contac_Introduction {
    display: flex;
    justify-content: center;
  }
}

//---------------------TABLET--------------------------

@include tablet {
  .font_12 {
    font-size: 48px;
  }

  main {
    padding-bottom: 0px;
  }

  .contac_Introduction {
    margin: 60px 20px 60px 20px !important;
    width: auto !important;
    padding-left: 20px;
  }

  .contac_Formular_Section {
    width: 94% !important;
  }
}

//-------------------------Mobile---------------------------------------

@include mobile {
  main {
    padding-top: 0;
    padding-left: 0;
    margin-bottom: 100px;
    position: static;
  }

  .font_12 {
    font-size: 32px;
  }

  .font_13 {
    font-size: 18px;
  }

  .font_8 {
    font-size: 16px;
  }

  .hero_ArrowUp {
    //bottom: 200px;
    position: relative;
    top: 0;
    left: 0;
  }

  .contac_Introduction {
    display: flex;
    flex-direction: column-reverse;
    gap: 20px;
  }

  .contac_Section {
    gap: 8px;
  }

  .contac_Field_Sec1 {
    display: flex;
    flex-direction: column;
  }
}