@use "styles/colors" as *;
@use "styles/mixin/mixin" as *;

@include desktop {
    .contac_Introduction {
        display: flex;
        justify-content: center;
    }
}

//---------------------TABLET--------------------------

@include tablet {

    .section_contact {
        padding: 120px 30px 40px;
    }


    .font_l {
        font-size: 32px;
    }

    .hero_ArrowUp {
        width: 30px;
        height: 60px;
        top: 90px;
        left: 85%;
        img{
            height:34px ;
        }
    }

    .contac_Introduction {
        gap: 40px;
        margin-left: 10px;
        margin-right: 10px;
    }

    .contac_Section {
        width: 100%;
    }

    .contac_Description {
        width: 100%;
        max-width: 600px;
        margin: 0 auto;
        text-align: center;
    }

    .contac_Formular_Section {
        width: 100%;
    }
}

//-------------------------Mobile---------------------------------------

@include mobile {
    .section_contact {
        padding-top: 10px;
        padding: 40px 15px 60px;
        margin-bottom: 100px;
        position: static;
    }


    .font_h {
        font-size: 18px;
    }

    .font_l {
        font-size: 32px;
    }




    .font_h {
        font-size: 18px;
    }


    .font_o {
        font-size: 16px;
    }

    .font_o {
        font-size: 16px;
    }

    .contact_Headline_Container {
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }

    .hero_ArrowUp {
        position: relative;
        top: 60px;
        left: 0;
        transform: none;
    }

    .contac_Introduction {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        gap: 30px;
        margin-top: 40px;
        padding: 0;
    }

    .contac_Section {
        display: flex;
        align-items: center;
        width: 100%;
        gap: 12px;
    }

    .contac_Formular_Section {
        width: 100% !important;
    }

    .contac_Field_Sec1 {
        flex-direction: column;
        gap: 20px;
    }

    input,
    textarea {
        font-size: 18px;
    }


    .toast {
        bottom: 150px;
        width: 200px;
        font-size: 16px;
    }
}