@use "styles/colors" as *;
@use "styles/mixin/mixin" as *;

//....................Desktop..........................

@include desktop {
    .player_Cards {
        gap: 135px;
    }
}

//---------------------TABLET--------------------------

@include tablet {
    .player_Cards {
        overflow-x: auto;
        gap: 120px;
    }

    .img_1 {
        display: none;
    }

    .img_2 {
        display: none;
    }

    .img_3 {
        display: block;
    }


}


//-------------------Mobil-----------------------------------

@include mobile {

.font_3{
    font-size: 24px;
}

.font_4{
    font-size: 18px;
}

    .player_Cards {
        justify-content: flex-start;
        align-items: flex-start;
        gap: 10px;
        -webkit-overflow-scrolling: touch;
    }

    .background_Animation {
        flex: 0 0 400px;
        flex-shrink: 0;
        min-width: 400px;
        width: 400px;
        max-width: 400px;
    }

    .section {
        position: relative;
        width: 400px;
        height: auto;
        min-height: 500px;
    }

    .img_1 {
        display: none;
    }

    .img_2 {
        display: none;
    }

    .players_Card_Contents {
        width: 100%;
        max-width: 250px;
        padding: 0 15px;
    }

    .tplayer_name {
        font-size: 20px;
    }

    .description_Text {
        max-width: 250px;
        max-height: 170px;
        line-height: 1.45;
    }

}

//---------------------MOBIL SMALL (bis 480px)--------------------------

@include mobilesmall {
    /*
    .player_Cards {
              gap: 40px;
          }

    .background_Animation {
        flex: 0 0 350px;
        flex-shrink: 0;
        min-width: 350px;
        width: 350px;
        max-width: 350px;
    }

    .section {
        position: relative;
        width: 350px;
        height: auto;
        min-height: 450px;
    }

    .img_1 {
        display: none;
    }

    .img_2 {
        display: none;
    }

    .players_Card_Contents {
        width: 100%;
        max-width: 215px;
        padding: 0 8px;
    }

    .tplayer_name {
        font-size: 17px;
    }

    .description_Text {
        max-width: 215px;
        max-height: 145px;
        line-height: 1.35;
    }
*/
}