@use "styles/colors" as *;
@use "styles/mixin/mixin" as *;

.player_Cards {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 145px;
  padding: 20px;
  height: 500px;
  opacity: 0;
  overflow-x: auto;
}



.player_Cards::-webkit-scrollbar {
  height: 26px;
  background: $mainColor;
}

.player_Cards::-webkit-scrollbar-thumb {
  height: 10px;
  background: $tabColor;
  border-radius: 8px;
}

.player_Cards.animat_1 {
  animation: slideInFromRight 0.8s ease-out forwards;
  opacity: 0;
}

.players_Card_Contents {
  @include flex_Box(column, 20px);
  color: $cremeWhite;
  text-align: center;

  .color_Text {
    color: $primaryBlue;
  }


  .description_Text {
    z-index: 3;
    height: auto;
    text-align: center;
    max-width: 260px;
    max-height: 180px;
    padding-bottom: 19px;
    overflow-y: auto;

    &::-webkit-scrollbar {
      width: 3px;
    }

    &::-webkit-scrollbar-thumb {
      background: $primaryBlue;
      border-radius: 6px;
      cursor: pointer;
    }
  }

  .link_linedln {
    z-index: 1;
  }
}

@include background_Animation();

.background_Animation {
  flex: 0 0 250px;
  width: 250px;
  min-width: 250px;
  max-width: 250px;

}

.img_3 {
  display: none;
}


//---------Animation ----------

@keyframes slideInFromRight {

  0% {
    opacity: 0;
    transform: translateX(200px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}