@use "styles/colors" as *;
@use "styles/mixin/mixin" as *;

//....................Desktop..........................

@include desktop {
    .player_Cards {
        gap: 135px;

    }
}

//---------------------TABLET--------------------------

@include tablet {
    .player_Cards {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: center;
        gap: 210px;
        //overflow-x: auto;
        padding: 20px 0;
        padding-left: 80px;
    }


    .section {
        width: 220px;
        min-width: 220px;
        height: 320px;
    }

    .players_Card_Contents {
        max-width: 200px;
        width: 100%;
        padding: 0 10px;
        gap: 10px;
    }

    .img_1 {
        display: none;
    }

    .img_2 {
        display: none;
    }

    .img_3 {
        display: flex;
        max-width: 480px;
    }


}


//-------------------Mobil-----------------------------------

@include mobile {

    .font_3 {
        font-size: 24px;
    }

    .font_4 {
        font-size: 18px;
    }

    .player_Cards {
        //justify-content: flex-start;
        align-items: flex-start;
        gap: 150px;
        //min-height: 520px;
        -webkit-overflow-scrolling: touch;
        //margin-top: 0;
        padding-top: 50px;
    }

    .background_Animation {
        //flex: 0 0 400px;
        //flex-shrink: 0;
        //min-width: 320px;
        //display: flex;
        // justify-content: center;
        //align-items: center;

        height: 350px;
        //min-height: 600px;
        //width: 400px;
        //max-width: 400px;
        // background-color: aqua;
    }

    .section {
        position: relative;
        //background-color: yellow;
        //height: 950px;
        min-width: 300px;
        justify-content: center;

    }

    .img_1 {
        display: none;
    }

    .img_2 {
        display: none;
    }

    .img_3 {
        max-width: 370px;
    }


    .players_Card_Contents {
        width: 100%;
        max-width: 240px;
        padding: 0 15px;
    }

    .tplayer_name {
        font-size: 20px;
        padding: 0;
        margin: 0;
    }

    .project_link {
        font-size: 18px;
        padding: 0px;
        margin: 0px;
    }

    .description_Text {
        line-height: 1.1;
        font-size: 16px;
        
       }
}