@use "styles/colors" as *;
@use "styles/mixin/mixin" as *;

//....................Desktop..........................

@include desktop {
    .player_Cards {
        gap: 135px;
    }
}

//---------------------TABLET--------------------------

@include tablet {
    .player_Cards {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: center;
        gap: 210px;
        overflow-x: auto;
        padding: 20px 0;
        padding-left: 80px;
    }

    .section {
        width: 220px;
        min-width: 220px;
        height: 320px;
    }

    .players_Card_Contents {
        max-width: 200px;
        width: 100%;
        padding: 0 10px;
        gap: 10px;
    }

    .img-base {
        display: none;
    }

    .img-hover {
        display: none;
    }

    .img-mobile {
        display: flex;
        max-width: 480px;
    }
}


//-------------------Mobil-----------------------------------

@include mobile {

    .font_c {
        font-size: 24px;
    }

    .font_d {
        font-size: 18px;
    }

    .player_Cards {
        align-items: flex-start;
        gap: 150px;
        -webkit-overflow-scrolling: touch;
        padding-top: 50px;
    }

    .background_Animation {
        height: 350px;
    }

    .section {
        position: relative;
        min-width: 300px;
        justify-content: center;
    }

    .img-base {
        display: none;
    }

    .img-hover {
        display: none;
    }

    .img-mobile {
        max-width: 370px;
    }


    .players_Card_Contents {
        width: 100%;
        max-width: 240px;
        padding: 0 15px;
    }

    .tplayer_name {
        font-size: 20px;
        padding: 0;
        margin: 0;
    }

    .project_link {
        font-size: 18px;
        padding: 0px;
        margin: 0px;
    }

    .description_Text {
        line-height: 1.1;
        font-size: 16px;
    }
}