@use "styles/colors" as *;
@use "styles/mixin/mixin" as *;

.player_Cards {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-width: 100px;

  //overflow-x: auto;
  overflow-y: hidden;
  gap: 145px;
  padding: 20px;
  height: 500px;
  /*
    TODO: 
  */
  //opacity: 0;
}

.player_Cards::-webkit-scrollbar {
  height: 26px;
  background: $mainColor;
}

.player_Cards::-webkit-scrollbar-thumb {
  height: 10px;
  background: $tabColor;
  border-radius: 8px;
}

.player_Cards.animat_1 {
  // opacity: 1;
  //overflow: hidden;
  //animation:
  //  rotateOnly 0.7s ease-out forwards,
  //  softScale 2s ease-out forwards 0.7s,
  //  showScrollbar 0.1s ease-out forwards 2.7s;
}

.players_Card_Contents {
  @include flex_Box(column, 20px);
  color: $cremeWhite;
  text-align: center;

  .color_Text {
    color: $primaryBlue;
  }

  Section {
    position: relative;
    height: 800px;
    min-height: 400px;
  }

  .description_Text {
    z-index: 3;
    height: auto;
    text-align: center;
    max-width: 260px;
    max-height: 180px;
    padding-bottom: 19px;
    overflow-y: auto;

    &::-webkit-scrollbar {
      width: 3px;
    }

    &::-webkit-scrollbar-thumb {
      background: $primaryBlue;
      border-radius: 6px;
      cursor: pointer;
    }
  }

  .link_linedln {
    z-index: 1;
  }
}

@include background_Animation();

.background_Animation {
  flex: 0 0 250px;
  width: 250px;
  min-width: 250px;
  max-width: 250px;
}

.img_3 {
  display: none;
}


//---------Animation ----------
/*

@keyframes rotateOnly {
  from {
    transform: rotate(0deg) scale(0.5);
  }

  to {
    transform: rotate(360deg) scale(0.5);
  }
}

@keyframes softScale {
  from {
    transform: scale(0.5);
  }

  to {
    transform: scale(1);
  }
}

@keyframes showScrollbar {
  from {
    //overflow: hidden;
  }

  to {
    overflow-x: auto;
    //overflow-y: hidden;
  }
}

@keyframes slideInFromRight {
  0% {
    opacity: 0;
    transform: translateX(200px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

*/