@use "styles/colors" as *;
@use "styles/mixin/mixin" as *;

.player_Cards {
  @include flex_Box(row, 250px);
  font-family: "Josefin";
  }

.players_Card_Contents {
  @include flex_Box(column, 20px);
  color: $cremeWhite;
  text-align: center;

  .color_Text {
    color: $primaryBlue;
  }

  .description_Text {
    z-index: 3;
    height: auto;
    width: auto;
    text-align: center;
    max-width: 260px;
    max-height: 180px;
    padding-bottom: 19px;
    overflow-y: auto;

    &::-webkit-scrollbar {
      width: 3px;
    }

    &::-webkit-scrollbar-thumb {
      background: $primaryBlue;
      border-radius: 6px;
      cursor: pointer;
    }
  }

  .link_linedln {
    z-index: 1;
  }


}

@include background_Animation();

.img_3 {
  display: none;
}


//---------------------Responsive--------------------------

//....................Desktop..........................

@include desktop {
  .player_Cards {
    font-family: "Josefin";
    padding: 20px;
  }

  .players_Card_Contents {
    width: 150px;
    max-width: 200px;
  }
}

//---------------------TABLET--------------------------

@include tablet {

  .player_Cards {
    gap: 50px !important;
  }

  .players_Card_Contents {
    width: 60%;
    height: auto;
  }

  .section {
    position: relative;
    width: 250px;
    height: auto;
  }

  .img_1 {
    display: none!important;
  }


  .img_3 {
    display: block;
    width: 230px;
    height: 350px;
    object-fit: cover !important;
  }

  .player_Cards {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 100px;
    overflow-x: auto;
    overflow-y: hidden;
    padding-left: 80px;
    padding-right: 80px;

    &::-webkit-scrollbar {
      height: 3px;
    }

    &::-webkit-scrollbar-thumb {
      width: 20px;
      background: $primaryBlue;
      border-radius: 6px;
      cursor: pointer;
    }
  }
}

//-------------------Mobil-----------------------------------

@include mobile {
  .section {
    height: 400px;
  }

  .player_Cards {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 100px;
    overflow-x: auto;
    overflow-y: hidden;
    padding-left: 80px;
    padding-right: 80px;

    &::-webkit-scrollbar {
      height: 3px;
    }

    &::-webkit-scrollbar-thumb {
      width: 20px;
      background: $primaryBlue;
      border-radius: 6px;
      cursor: pointer;
    }
  }
}