@use "styles/colors" as *;
@use "styles/mixin/mixin" as *;

main {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 100px;
  margin-bottom: 50px;
 }

.myskills_Titel {
  color: $primaryBlue;
  @include flex_Box(column, 0px);
}

.myskills_Section {
  font-family: "Josefin";
  display: flex;
  justify-content: center;
  gap: 234px;
  margin: 0px;
}

.myskills_grid_container {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-template-rows: repeat(3, auto);
  gap: 40px;
  margin-top: 90px;
}

.myskills_grid-item {
  @include flex_Box(column, 15px);
  text-align: center;
  font-family: "Josefin";
  color: $primaryBlue;
  border-radius: 8px;
}

//--------------------rechts Seite ---------------------------------//

@include background_Animation();
.section_content_block {
  color: $cremeWhite;
  gap: 20px;
}

.section {
  margin-top: 100px;
  height: 200px;
  width: auto;
}

.section_contents {
  width: 100%;
}

.myskills_Info_img {
  @include flex_Box(row, 15px);
  gap: 10px;
  width: 36px;
  height: auto;
}

.bgskills_mobil {
  display: none !important;
}

.mobil_img {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.myskills_Infotext {
  width: 207px;
}

//---------------------Responsive--------------------------

@include desktop {
}

//---------------------TABLET--------------------------

@include tablet {
  .font_5 {
    font-size: 48px;
  }
  .myskills_Section {
    display: flex;
    justify-content: start;
    gap: 260px;
      }
  .myskills_grid_container {
    gap: 10px;
  }
}

//---------------------Mobil--------------------------

@include mobile {
  main {
    padding: 0;
    padding-top: 30px;
    margin: 0;
    height: 620px;
  }

  .font_5 {
    font-size: 32px;
  }
  .font_8 {
    font-size: 16px;
  }

  .myskills_grid_container {
    justify-content: center;
    gap: 30px;
    margin-top: 40px;
  }

  .myskills_grid-item {
    img {
      width: 41px;
    }
    p {
      display: none;
    }
  }

  .myskills_Section {
    flex-direction: column !important;
     height: 300px;
    gap: 140px;
  }

  .section {
    margin-top: 0px !important;
    pointer-events: none;
    .img_1 {
      display: none;
    }
    .img_2 {
      display: none;
    }
  }

  .infotext_mobil {
    width: 200px;
    color: $primaryBlue;
  }

  .mobil_img {
    flex-direction: row-reverse;
    gap: 40px;
  }

  .bgskills_mobil {
    display: flex !important;
    position: absolute;
    top: 55px;
    left: 70px;
  }

  .myskills_Infotext {
    text-align: left !important;
  }
}
