@use "styles/colors" as *;
@use "styles/mixin/mixin" as *;

// ========= DESKTOP / BASIS ========= //

.section_myskills {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 140px;
  padding-bottom: 100px;
  overflow: hidden;
}

.myskills_Titel {
  color: $primaryBlue;
  @include flex_Box(column, 0px);
}

.myskills_Titel.animat_1 {
  animation: slideInFromRight 0.8s ease-out forwards;
}

.myskills_Section {
  font-family: "Josefin";
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 60px;
  margin-left: 40px;
  margin-top: 90px;
}

.myskills_Section.animat_2 {
  animation: fadeIn 3s ease-out forwards;
}

/* Linke Seite: Grid mit Skills */
.myskills_grid_container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: auto;
  gap: 40px;
  width: 50%;
}

.myskills_grid-item {
  text-align: center;
  font-family: "Josefin";
  color: $primaryBlue;
  border-radius: 8px;

  p {
    margin-top: 10px;
  }

  img {
    transition: transform 0.4s cubic-bezier(0.25, 0.1, 0.25, 1);
  }

  img:hover {
    cursor: pointer;
    transform: scale(1.1);
  }
}

/* Rechte Seite: Hintergrund + Textblock */
.background_Animation {
  width: 50%;
  min-width: 300px;
  position: relative;
}

@include background_Animation();

.section {
  width: 100%;
  min-height: 320px;
}

.section_content_block {
  color: $cremeWhite;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.infotext_mobil {
  display: none; // nur mobil sichtbar
}

.mobil_img {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.myskills_Info_img {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 50px;
  width: 140px;
  height: 70px;

  .img1,
  .img2 {
    width: 66px;
    height: 66px;
  }
}

.myskills_Infotext {
  width: 207px;
  text-align: left;
  line-height: 1.2;
}

.bgskills_mobil {
  display: none;
}

.btn_letstalk {
  display: none; // Desktop versteckt, mobil sichtbar
}

/* Animationen */
@keyframes slideInFromRight {
  0% {
    opacity: 0;
    transform: translateX(200px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}