@use "styles/colors" as *;
@use "styles/mixin/mixin" as *;

// ========= MOBILE ========= //

@include mobile {
    .section_myskills {
        padding: 40px 0 60px;
        margin: 0;
        /* keine fixe Höhe! */
    }

    .font_5 {
        font-size: 40px;
    }

    .font_8 {
        font-size: 16px;
    }


    .myskills_Titel {
        margin-bottom: 50px;
    }

    .myskills_Section {
        width: 100%;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        margin: 0;
    }

    .myskills_grid_container {
        width: 100%;
        min-width: 0;
        grid-template-columns: repeat(3, 1fr);
        gap: 24px;
    }

    .myskills_grid-item {
        img {
            width: 36px;
        }

        p {
            margin-top: 10px;
        }
    }

    /* Rechte Seite mobil: ohne die großen BG-Bilder */
    .background_Animation {
        position: relative;
        width: 100%;
        min-width: 0;

        .img_1,
        .img_2 {
            display: none;
        }
    }

    .section {
        margin-top: 30px;
        width: 100%;
        // background-color: red; // nur Debug, später rausnehmen
        height: auto;
        padding-left: 20px;
        padding-right: 20px;

    }

    .section_content_block {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        width: 100%;
    }

    /* Überschrift im Bildbereich */
    .infotext_mobil {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        font-size: 18px;
        color: $primaryBlue;
        text-align: center;
    }

    /* Icon + Text nebeneinander */
    .mobil_img {
        display: flex;
        flex-direction: row-reverse;
        gap: 0px;
        height: auto;

    }

    .myskills_Info_img {
        display: flex;
        flex-direction: row;
        gap: 0px;


        .img1,
        .img2 {
            width: 36px;
            height: 54px;
            margin-left: 10px;
        }
    }

    .myskills_Infotext {
        //position: relative;
        //text-align: left;
        max-width: 240px; // hier steuerst du, wie stark der Text nach unten geht
        padding-left: 10px;
        background-color: yellowgreen; // nur Debug, kann später raus
        font-size: 16px;
        line-height: 1.3;
        align-self: flex-start;

        p {
            text-align: left;
        }
    }

    .btn_letstalk {
        display: block;
        margin-top: 10px;
        text-align: center;

        a img {
            display: inline-block;
        }
    }
}