@use "styles/colors" as *;
@use "styles/mixin/mixin" as *;

// ========= MOBILE ========= //

@include mobile {
    .section_myskills {
        padding: 40px 0 60px;
        margin: 0;
    }

    .font_e {
        font-size: 40px;
    }

    .font_h {
        font-size: 16px;
    }


    .myskills_Titel {
        margin-bottom: 50px;
    }

    .myskills_Section {
        width: 100%;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        margin: 0;
    }

    .myskills_grid_container {
        width: 100%;
        min-width: 0;
        grid-template-columns: repeat(3, 1fr);
        gap: 24px;
    }

    .myskills_grid-item {
        img {
            width: 36px;
        }

        p {
            margin-top: 10px;
        }
    }

    .background_Animation {
        position: relative;
        width: 100%;
        min-width: 0;

        .img_1,
        .img_2 {
            display: none;
        }
    }

    .section {
        margin-top: 30px;
        width: 100%;
        height: auto;
        padding-left: 20px;
        padding-right: 20px;
    }

    .img_3 {
        display: block;
        justify-content: end;


    }


    .section_content_block {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        width: 100%;
    }

    .infotext_mobil {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        font-size: 18px;
        color: $primaryBlue;
        text-align: center;
    }

    .mobil_img {
        display: flex;
        flex-direction: row-reverse;
        gap: 0px;

    }

    .myskills_Info_img {
        position: relative;
        display: flex;
        flex-direction: row;
        gap: 12px;
    }

    .img_backMobil {
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;
        width: 65px;
        height: auto;
    }

    .mobil_img .myskills_Infotext {
        max-width: 180px;
        text-align: left;
        margin-left: 15px;
    }

    .btn_letstalk {
        display: block;
        margin-top: 10px;
        text-align: center;

        a img {
            display: inline-block;
        }
    }
}