@use "styles/colors" as *;
@use "styles/mixin/mixin" as *;

main {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 20px;
  height: 580px;
  //background-color:orange;
}

.myskills_Titel {
  color: $primaryBlue;
  @include flex_Box(column, 0px);

  //display: flex;
  //justify-content: center;
  //align-items: center;
}

.myskills_Section {
  font-family: "Josefin";
  display: flex;
  justify-content: center;
  align-items: center;
}

.myskills_innerSection {
  @include flex_Box(row, 150px);
}

.myskills_grid_container {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-template-rows: repeat(3, auto);
  gap: 40px;
  margin-top: 60px;
  margin-right: 120px;
}

.myskills_grid-item {
  @include flex_Box(column, 15px);
  text-align: center;
  font-family: "Josefin";
  color: $primaryBlue;
  border-radius: 8px;
}

//--------------------rechts Seite ---------------------------------//

@include background_Animation();
.section_content_block {
  //background-color: yellow;
  color: $cremeWhite;
}

.myskills_Info_img {
  @include flex_Box(row, 15px);
  margin-bottom: 20px;
  width: 36px;
  height: 54px;
}

.bgskills_mobil {
  display: none !important;
}

.mobil_img {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.myskills_Infotext {
  width: 307px;
  height: auto;
}

//---------------------Responsive--------------------------

@include desktop {
  .myskills_innerSection {
    justify-content: start;
    width: auto;
    margin-left: 20px;
  }
}

//---------------------TABLET--------------------------

@include tablet {
  .font_5 {
    font-size: 48px;
  }

  main {
    margin-top: 100px;
  }

  .myskills_grid_container {
    margin-right: 60px;
  }

  .myskills_innerSection {
    width: 30%;
  }
}

//---------------------Mobil--------------------------

@include mobile {
  .font_5 {
    font-size: 32px;
  }

  main {
    // width: 100%;

    margin-top: 20px;
  }

  .myskills_grid_container {
    gap: 30px;
    justify-content: center;
    align-items: center;
  }

  .myskills_grid-item {
    img {
      width: 41px;
      //height: 45px;
    }
    p {
      display: none;
    }
  }
  .myskills_innerSection {
    flex-direction: column !important;
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .section {
    pointer-events: none;

    .img_1 {
      display: none;
    }
    .img_2 {
      display: none;
    }
  }

  .section_content {
    position: static !important;
    top: auto;
    left: auto;
  }

  .section_content_block {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .infotext_mobil {
    color: $primaryBlue;
    margin-bottom: 20px !important;
  }

  .mobil_img {
    display: flex;
    flex-direction: row-reverse;
    gap: 20px;
    align-items: center;
  }

  .myskills_Infotext {
    margin-right: 40px !important;
  }

  .bgskills_mobil {
    display: flex !important;
    position: absolute;
    top: 50px;
    left: 330px;
  }
}
