@use "styles/colors" as *;
@use "styles/mixin/mixin" as *;

main {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 100px;
  margin-bottom: 50px;
  height: 100vh;
}

.myskills_Titel {
  margin-top: 60px;
  color: $primaryBlue;
  @include flex_Box(column, 0px);
  opacity: 0;
}

.myskills_Titel.animat_1 {
  animation: slideInFromRight 0.8s ease-out forwards;
}

.myskills_Section {
  font-family: "Josefin";
  display: flex;
  justify-content: center;
  margin-left: 40px;
  opacity: 0;
}

.myskills_Section.animat_2 {
  animation: fadeIn 3s ease-out forwards;
}

.myskills_grid_container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, auto);
  gap: 40px;
  margin-top: 90px;
  width: 50%;
}

.myskills_grid-item {
  text-align: center;
  font-family: "Josefin";
  color: $primaryBlue;
  border-radius: 8px;
}

.background_Animation {
  width: 50%;
  min-width: 300px;
}

//--------------------rechts Seite ---------------------------------//

@include background_Animation();

.section_content_block {
  color: $cremeWhite;
  gap: 20px;
}

.section {
  margin-top: 100px;
  height: 200px;
  width: auto;
}

.myskills_Info_img {
  gap: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 66px;
  height: 66px;
}

.bgskills_mobil {
  display: none;
}

.mobil_img {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

}

.myskills_Infotext {
  width: 207px;
}

.btn_letstalk {
  :hover {
    cursor: pointer;
    background-color: $lightGrey;
    border-radius: 30px;
  }

  position: absolute;
  top:740px;
  left: calc(100% - 400px);
}


@keyframes slideInFromRight {
  0% {
    opacity: 0;
    transform: translateX(200px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}