@use "styles/colors" as *;
@use "styles/mixin/mixin" as *;


//---------------------TABLET--------------------------

@include tablet {
    main {
        padding-top: 110px;
    }

    .font_5 {
        font-size: 48px;
    }

    .myskills_Section {
        flex-direction: column;
        align-items: center;
        gap: 40px;
        margin-left: 0px;
    }

    .myskills_grid_container {
        grid-template-columns: repeat(3, 1fr);
        margin-right: 20px;
        margin-top: 60px;

    }

    .background_Animation {
        margin-top: 60px;
    }

    .section {
        margin-top: 40px;
        height: auto;
        margin: 0;

    }

    .myskills_Infotext {
        width: 100%;
        max-width: 300px;
    }
}

//---------------------Mobil--------------------------

@include mobile {
    main {
        padding: 0;
        padding-top: 30px;
        margin: 0;
        min-height: 620px;
        height: auto;
    }

    .font_5 {
        font-size: 32px;
    }

    .font_8 {
        font-size: 16px;
    }

    .myskills_grid_container {
        margin: 0;
        width: 100%;
        max-width: 350px;
        grid-template-columns: repeat(3, 1fr);
        justify-content: center;
    }

    .myskills_grid-item {
        img {
            width: 41px;
            height: auto;
        }

        p {
            display: none;
        }
    }

    .section {
        margin-top: 0px;
        pointer-events: none;

        .img_1 {
            display: none;
        }

        .img_2 {
            display: none;
        }
    }

    .bgskills_mobil {
        display: flex !important;
        position: absolute;
        top: 55px;
        left: 70px;
        max-width: 80px;
    }

}

//---------------------MOBIL SMALL (bis 635px)--------------------------

@include mobilesmall {
    main {
        padding-top: 20px;
        min-height: 550px;
    }

    .font_5 {
        font-size: 28px !important;
    }

    .font_8 {
        font-size: 14px !important;
    }

    .myskills_Section {
        gap: 20px;
        padding: 0 10px;
    }

    .myskills_grid_container {
        max-width: 300px;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
        margin-top: 30px;
    }

    .myskills_grid-item {
        img {
            width: 36px;
        }
    }

    .background_Animation {
        max-width: 300px;
        gap: 30px;
    }

    .infotext_mobil {
        width: 180px;
        font-size: 14px;
    }

    .mobil_img {
        gap: 15px !important;
    }

    .bgskills_mobil {
        top: 45px;
        left: 60px;
        max-width: 70px;
    }

}