@use "styles/colors" as *;
@use "styles/mixin/mixin" as *;


//---------------------TABLET--------------------------

@include tablet {
    main {
        padding-top: 110px;

    }

    .font_5 {
        font-size: 48px;
    }

    .myskills_Section {
        width: 100%;
        flex-direction: column;
        align-items: center;
        gap: 40px;
        margin-left: 0px;
    }

    .myskills_grid_container {
        grid-template-columns: repeat(3, 1fr);
        margin-right: 20px;
        margin-top: 60px;

    }

    .background_Animation {
        margin-top: 60px;
    }

    .section {
        margin-top: 40px;
        height: auto;
        margin: 0;

    }

    .myskills_Infotext {
        width: 100%;
        max-width: 300px;
    }
}

//---------------------Mobil--------------------------

@include mobile {
    main {
        padding-top: 20px;
        min-height: 900px;
    }

    .font_5 {
        font-size: 28px;
    }

    .font_8 {
        font-size: 18px;
    }

    .myskills_Titel {
        margin-bottom: 30px;
    }

    .myskills_Section {
        gap: 20px;
        padding: 0 10px;
    }

    .myskills_grid_container {
        margin: 0;
        width: 100%;
        min-width: 350px;
        grid-template-columns: repeat(3, 1fr);
        justify-content: center;
    }

    .myskills_grid-item {
        img {
            width: 36px;
        }

        p {
            margin-top: 10px;
        }
    }

    .background_Animation {
        margin-top: 100px;
        max-width: 300px;
        gap: 30px;
    }

    .myskills_Info_img {
        gap: 40px;

    }

    .btn_letstalk {
        position: absolute;
        top: 990px;
        left:50%;
        transform: translateX(-50%);

    }
}