@use "styles/colors" as *;
@use "styles/mixin/mixin" as *;

main {
    min-width: 320px;
     max-width: 1920px;
    width: 100vw;
     margin: 0 auto;
    background-color: $mainColor;
    color: $cremeWhite;
    padding-left: 60px;
    padding-right: 60px;
    box-sizing: border-box;
}

.mobi-back {
    display: none;
}

section {
    margin-bottom: 80px;
}

.privacy-policy-content {
    padding-top: 124px;
    padding-bottom: 140px;
    opacity: 0;
    transform: translateX(100px);
    transition: none;
}

.privacy-policy-content.animat_1 {
    animation: slideInFromRight 1s ease-out forwards;
}

.sec {
    margin-top: 10px;
}

.content_line {
    margin-bottom: 8px;
}

.privacy-policy-header {
    font-family: "Anta";
    margin-top: 20px;
    margin-bottom: 20px;
    opacity: 0;
}

.privacy-policy-header.animat_1 {
    opacity: 1;
    animation: slideInFromLeft 2s ease-out forwards;
}

:host ::ng-deep .col {
    color: $primaryBlue;
    font-size: 24px;
    display: inline-block;
    margin-top: 30px;
}

:host ::ng-deep.line {
    margin-left: 20px;
}


@keyframes slideInFromRight {
    from {
        opacity: 0;
        transform: translateX(100px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideInFromLeft {
    0% {
        opacity: 0;
        transform: translateX(-200px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

