@use "styles/colors" as *;
@use "styles/mixin/mixin" as *;

//---------------------MOBIL--------------------------
@include mobile {
    .privacy-policy-content {
        padding-top: 124px;
        padding-bottom: 230px;
    }


    .mobi-back {
        display: inline;
        cursor: pointer;
        margin-bottom: 20px;

        .img {
            padding-bottom: 20px;
        }
    }

    ::ng-deep app-menue {
        .menue_Entries {
            display: none !important
        }

        .language_Icon {
            display: none !important;

        }

        .app_logo {
            display: block !important;
        }
    }
}