@use "styles/colors" as *;
@use "styles/mixin/mixin" as *;

.section_privacy-policy {
    min-width: 320px;
    max-width: 1920px;
    width: 100%;
    background-color: $mainColor;
    color: $cremeWhite;
    padding-left: 60px;
    padding-right: 60px;
    box-sizing: border-box;
    overflow-x: hidden;

    @include mobile {
        padding-left: 10px;
        padding-right: 10px;
    }
}

.mobi_back {
    display: none;
}

section {
    margin-bottom: 80px;
}

.privacy_policy_content {
    padding-top: 124px;
    padding-bottom: 140px;
    opacity: 0;
    transform: none;

    @include mobile {
        transform: none;
    }
    transition: none;
}

.privacy_policy_content.animat_1 {
    animation: slideInFromRight 1s ease-out forwards;
}

.sec {
    margin-top: 10px;
}

.content_line {
    margin-bottom: 8px;
}

.privacy_policy_header {
    font-family: "Anta";
    margin-top: 20px;
    margin-bottom: 20px;
    opacity: 0;
}

.privacy_policy_header.animat_1 {
    opacity: 1;
    animation: slideInFromLeft 2s ease-out forwards;
}

:host ::ng-deep .col {
    color: $primaryBlue;
    font-size: 24px;
    display: inline-block;
    margin-top: 30px;
}

:host ::ng-deep.line {
    margin-left: 20px;
}

//---------- ANIMATIONS ----------

@keyframes slideInFromRight {
    from {
        opacity: 0;
        transform: translateX(100px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideInFromLeft {
    0% {
        opacity: 0;
        transform: translateX(-200px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}