@use "styles/colors" as *;
@use "styles/mixin/mixin" as *;

//---------------------MOBIL--------------------------
@include mobile {

    .section_privacy-policy {
        padding-left: 20px;
        padding-right: 20px;
    }


    .privacy_policy_content {
        padding-top: 84px; // 60px fixed header + 24px spacing
        padding-bottom: 230px;
    }


    .mobi_back {
        display: inline;
        cursor: pointer;

        .img {
            padding-bottom: 20px;
        }
    }


    .font_a {
        font-size: 32px;
    }

    ::ng-deep app-menue {
        .menue_Entries {
            opacity: 0;
        }

        .app_logo {
            display: none;
        }
    }
}