<main>
    <div class="contact_Headline_Container">
        <div class="contac_Headline">
            <p class="font_12">{{'CONTACT.HEADLINE' |translate}}</p>
        </div>

        <div class="hero_ArrowUp">
            <a href="#"(click)="setAktiv.setMenuAktiv('')"><img src="assets/icons/ArrowUp.png" /></a>
        </div>
    </div>
    <div class="contac_Introduction">
        <div class="contac_Description">
            <p class="font_8">{{'CONTACT.DESCRIPTION' |translate}}</p>
        </div>
        <div class=" contac_Section">
            <div class="contact_Mail">
                <img src="assets/icons/email.png">
                <p class="font_13">{{"CONTACT.EMAIL" |translate}}</p>
            </div>
            <div class="contact_Phone">
                <img src="assets/icons/phone.png">
                <p class="font_13">{{"CONTACT.PHONE" |translate}}</p>
            </div>
        </div>
    </div>


    <form class="contac_Formular_Section" (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm">

        <div class="contac_Field_Sec1">
            <div class="contact_Field">
                <label for="name">Your Name</label>
                <input [(ngModel)]="contactData.name" type="text" id="name" name="name" placeholder="Your name.."
                    required>
            </div>
            <div>
                <label for="email">Your Email</label>
                <input [(ngModel)]="contactData.email" type="email" id="email" name="email"
                    placeholder="Your mail adress.." required
                    pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}">
            </div>
        </div>

        <label for="message">Your Message</label>
        <textarea #message="ngModel" [(ngModel)]="contactData.message" minlength="4" id="message" name="message"
            placeholder="write something.." required></textarea>
        @if(!message.valid && message.touched){
        <span>Please enter a message</span>
        }


        <input type="submit" value="Submit">

    </form>




    <div class="contac_PrivacyPolicy"></div>

    <div class="contac_BTN"></div>

</main>