@use "styles/colors" as *;
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Josefin";
  color: $primaryBlue; // #f8f5ec;
  width: 100%;
  height: 100vh;
  padding-bottom: 60px;
  padding-top: 120px;
  //background-color: blue;
}

.contact_Headline_Container {
  display: flex;
  flex-direction: row;
  align-items: start;
}

.hero_ArrowUp {
  position: absolute;
  right: 230px;
}

.contac_Headline {
  font-family: "Anta";
}

.contac_Introduction {
  margin-top: 60px;
  width: 911px;
  display: flex;
  justify-content: center;
  gap: 100px;
  color: white;
  margin-bottom: 150px;
  //background-color: aqua;

  .contac_Description {
    width: 50%;
  }

  .contac_Description p {
    line-height: 1.4;
    height: 124px;
  }

  .contac_Section {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 50%;
  }

  .contact_Mail {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 19px;
  }

  .contact_Phone {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 19px;
  }
}

.contac_Formular_Section {
  display: flex;
  flex-direction: column;
  width: 911px;
  color: $primaryBlue;

  //background-color: antiquewhite;
  label {
    margin-left: 20px;
    font-size: 14px;
    font-weight: 400;
  }
}

.contac_Field_Sec1 {
  display: flex;
  gap: 10px;
  margin-bottom: 21px;

  div {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 60px;
  }
}

input[type="text"],
[type="email"],
select,
textarea {
  padding: 12px;
  border-radius: 30px;
  border-style: solid;
  border-width: 1.5px;
  border-color: $primaryBlue;
  background-color: $mainColor;
}

#message {
  height: 146px;
}

input[type="submit"] {
  width: 101px;
  height: 48px;
  border-radius: 30px;
  border-style: solid;
  border-width: 1.5px;
  border-color: $primaryBlue;
  background-color: $mainColor;
  color: white;
  cursor: pointer;
  margin-top: 21px;
}
