<main>
    <p class="contac_Headline font_12">{{'CONTACT.HEADLINE' |translate}}</p>

    <div class="contac_Introduction">
        <div class="contac_Description">
            <p class="font_8">{{'CONTACT.DESCRIPTION' |translate}}</p>
        </div>
        <div class=" contac_Section">
            <div class="contact_Mail">
                <img src="assets/icons/email.png">
                <p class="font_13" >{{"CONTACT.EMAIL" |translate}}</p>
            </div>
            <div class="contact_Phone">
                <img src="assets/icons/phone.png">
                <p class="font_13" >{{"CONTACT.PHONE" |translate}}</p>
            </div>
        </div>
</div>
        <div class="contac_FormularSection">

        </div>

        <div class="contac_PrivacyPolicy">

        </div>

        <div class="contac_BTN">

        </div>

   

</main>