<main>
    <div class="whyme_Section">
        <div class="whyme_Titel">
            <p class="font_5">{{ "NAV.WHY_ME" | translate }}</p>
        </div>
        <div class="whyme_innerSection">
            <div class="whyme_locale">
                <img src="assets/icons/locale.png" />
                <p class="font_10">
                    <span class="color">{{ ("WHYME.LOCAL1" | translate)}}</span>{{ ("WHYME.LOCAL2" | translate)}}
                </p>
            </div>
            <div class="whyme_Description">
                <p class="font_8"> {{ "WHYME.DESCRIPTION" | translate }}</p>
                <a href="#contact" (click)="setAktiv.setMenuAktiv('contact')"> <img src="assets/icons/btnLetstalk.png"
                        alt="Let's Talk">
                </a>
            </div>

        </div>
    </div>
</main>