
@use "styles/colors" as *;
main {
  display: flex;
  font-family: "Anta";
  color: $cremeWhite; // #f8f5ec;
  width: 100%;
  height: auto;
  padding-bottom: 60px;
}

.whyme_Section {
  font-family: "Josefin";
  width: 100%;
}

.whyme_Titel {
  color: $primaryBlue; // #89bcd9;
  display: flex;
  justify-content: center;
  margin-top: 115px;
  //  background-color: red;
}

.whyme_innerSection {
  display: flex;
  flex-direction: row;
  margin-left: 60px;
  align-items: center;
  justify-content: center;
  gap: -40px;
  margin-top: 40px;
  //background-color: aqua;
}

.whyme_Description {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 30px;
  width: 379px;
  margin-top: 30px;
  // height: 176px;
}

.whyme_locale {
  display: flex;
  gap: 30px;
  width: 45%;
  //background-color: yellow;
}

p {
  font-size: 30px;
}
