<main>
    <div class="whyme_Section">
        <div class="whyme_Titel">
            <p class="font_5">{{ "NAV.WHY_ME" | translate }}</p>
        </div>

        <div class="whyme_innerSection">
            <div class="whyme_locale">
                <img src="assets/icons/locale.png" />
                <p class="font_10">{{ "WHYME.LOCAL" | translate }}</p>
            </div>

            <div class="whyme_Description">
                <p class="font_8"> {{ "WHYME.DESCRIPTION" | translate }}</p>
                <img src="assets/icons/btnLetstalk.png" />
            </div>

        </div>
    </div>
</main>