@use "styles/colors" as *;
@use "styles/mixin/mixin" as *;

main {
  min-width: 320px;
  max-width: 1920px;
  background-color: $mainColor;
  color: $cremeWhite;
  padding-left: 60px;
  padding-right: 60px;
}

.mobi-back {
  display: none;
}

section {
  margin-bottom: 80px;
}

.legal-notice-content {
  padding-top: 124px;
  padding-bottom: 140px;
}

.legal_notice_list {
  padding: 0;
  padding-left: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

:host ::ng-deep .col {
  color: $primaryBlue;
}

:host ::ng-deep .col {
  color: $primaryBlue;
}

:host ::ng-deep .bold {
  font-weight: bold;
}

.sec {
  margin-top: 10px;
}


//---------------------MOBIL--------------------------
@include mobile {

  main {
    padding-left: 20px;
    padding-right: 20px;
  }

  .legal-notice-content {
    padding-top: 124px;
    padding-bottom: 230px;
  }

  .legal_notice_header {
    padding-top: 20px;
  }

  .mobi-back {
    display: inline;
    cursor: pointer;
  }

  .font_1 {
    font-size: 32px;
  }

  ::ng-deep app-menue {
    .menue_Entries {
      display: none !important;
    }

    .language_Icon {
      display: none !important;
    }

    .app_logo {
      display: block !important;
    }
  }

}