<main>
    <app-menue></app-menue>

    <section>
        <p class="legal_notice_header font_1">{{'LEGALNOTICE.HEADER' | translate}}</p>
        <div class="imprint">
            <ul>
                <li>{{'LEGALNOTICE.NAME' | translate}}</li>
                <li>{{'LEGALNOTICE.STREET' | translate}}</li>
                <li>{{'LEGALNOTICE.TOWN' | translate}}</li>
            </ul>
        </div>
        <div class="section_Email">
            <p>{{''|translate}}</p>
            <p>Email: {{'LEGALNOTICE.EMAIL' |translate}}</p>
        </div>

        <div class="section_1">
            <p [innerHTML]="'LEGALNOTICE.SECTION_1.TEXT_1' | translate"></p>
            <p>{{'LEGALNOTICE.SECTION_1.TEXT_2'|translate}}</p>
        </div>

        <div class="section_2">
            <p>{{'e' |translate}}</p>
            <p>{{'e' |translate}}</p>
        </div>

        <div class="section_3">
            <p>{{'e' |translate}}</p>
            <p>{{'e' |translate}}</p>
        </div>
        <div class="section_4">
            <p>{{'e' |translate}}</p>
            <p>{{'e' |translate}}</p>
        </div>
        <div class="section_5">
            <p>{{'' |translate}}</p>
            <p>{{'' |translate}}</p>
        </div>
        <div class="section_6">
            <p>{{'' |translate}}</p>
            <p>{{'' |translate}}</p>
        </div>
        <div class="section_7">
            <p>{{'' |translate}}</p>
            <p>{{'' |translate}}</p>
        </div>


    </section>

</main>