@use "styles/colors" as *;
@use "styles/mixin/mixin" as *;

.section_legal-notice {
  min-width: 320px;
  width: 100%;
  background-color: $mainColor;
  color: $cremeWhite;
  box-sizing: border-box;
  overflow-x: hidden;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.legal_menu_toggle,
.legal_mobile_header,
.legal_menu_overlay {
  display: none;
}



.mobi_back {
  display: none;
}

.legal_notice_content {
  max-width: 1920px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  flex: 1 0 auto;
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 124px;
  padding-bottom: 0;
  opacity: 0;
  transform: none;
  transition: none;

  @include mobile {
    padding-left: 10px;
    padding-right: 10px;
    transform: none;
  }
}

.legal_notice_content.animate-intro {
  animation: slideInFromRight 125ms ease-out forwards;
}

.legal_notice_header {
  font-family: "Anta";
  margin-top: 20px;
  margin-bottom: 20px;
  opacity: 0;
}

.legal_notice_header.animate-intro {
  opacity: 1;
  animation: slideInFromLeft 525ms ease-out forwards;
}

@include mobile {
  :host ::ng-deep app-menue .language_Icon {
    display: none;
  }
}


//---------- ANIMATIONS ----------

@keyframes slideInFromRight {
  from {
    opacity: 0;
    transform: translateX(100px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.legal_notice_list {
  padding: 0;
  padding-left: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

:host ::ng-deep .col {
  color: $primaryBlue;

}


:host ::ng-deep .bold {
  font-weight: bold;
}

.sec {
  margin-top: 10px;
}

@keyframes slideInFromRight {
  0% {
    opacity: 0;
    transform: translateX(200px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}


@keyframes slideInFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-200px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.section_legal-notice>app-footer {
  margin-top: auto;
}