@use "styles/colors" as *;
@use "styles/mixin/mixin" as *;

//---------------------MOBIL--------------------------
@include mobile {
    .section_legal-notice {
        padding-left: 20px;
        padding-right: 20px;
    }


    .legal_notice_content {
        padding-top: 84px; // 60px fixed header + 24px spacing
        padding-bottom: 230px;
    }

    .legal_notice_header {
        padding-top: 20px;
    }

    .mobi_back {
        display: inline;
        cursor: pointer;

        .img {
            padding-bottom: 20px;
        }
    }

    .font_1 {
        font-size: 32px;
    }

    ::ng-deep app-menue {
        .menue_Entries {
            opacity: 0;
        }

        .app_logo {
            display: none;
        }
    }
}