@use "styles/colors" as *;
@use "styles/mixin/mixin" as *;

main {
  min-width: 320px;
  max-width: 1920px;
  height: 100%;
  background-color: $mainColor;
  color: $cremeWhite;
}

.mobi-back {
  display: none;
}

section {
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 80px;
}

/* Offset content so it doesn't hide under the fixed menu (104px) */
.legal-notice-content {
  padding-top: 124px;
  /* Avoid overlap with fixed footer (desktop/tablet) */
  padding-bottom: 140px;
}

.legal_notice_list {
  padding: 0;
  padding-left: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

:host ::ng-deep .col {
  color: $primaryBlue;
}

:host ::ng-deep .col {
  color: $primaryBlue;
}

:host ::ng-deep .bold {
  font-weight: bold;
}

.sec {
  margin-top: 10px;
}


//---------------------MOBIL--------------------------
@include mobile {

  main {
    //margin-top: 104px;
  }

  /* Keep a comfortable offset on mobile as well */
  .legal-notice-content {
    padding-top: 124px;
    /* Footer is taller on mobile */
    padding-bottom: 230px;
  }

  .legal_notice_header {
    padding-top: 20px;
  }

  .mobi-back {
    display: inline;
    cursor: pointer;
  }

  .font_1 {
    font-size: 32px;
  }

  ::ng-deep app-menue {
    .menue_Entries {
      display: none !important;
    }

    .language_Icon {
      display: none !important;
    }

    .app_logo {
      display: block !important;
    }
  }

}