@use "styles/colors" as *;
@use "styles/mixin/mixin" as *;

main {
  min-width: 320px;
  max-width: 1920px;
  background-color: $mainColor;
  color: $cremeWhite;
  padding-left: 60px;
  padding-right: 60px;
}

.mobi-back {
  display: none;
}

section {
  margin-bottom: 80px;
}

.legal-notice-content {
  padding-top: 124px;
  padding-bottom: 140px;
  opacity: 0;
}

.legal-notice-content.animat_1 {
  animation: slideInFromRight 1s ease-out forwards;
}


.legal_notice_header {
  opacity: 0;
}

.legal_notice_header.animat_1 {
  opacity: 1;
  animation: slideInFromLeft 2s ease-out forwards;
}

@keyframes slideInFromRight {
  from {
    opacity: 0;
    transform: translateX(100px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}


.legal_notice_list {
  padding: 0;
  padding-left: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

:host ::ng-deep .col {
  color: $primaryBlue;
}

:host ::ng-deep .col {
  color: $primaryBlue;
}

:host ::ng-deep .bold {
  font-weight: bold;
}

.sec {
  margin-top: 10px;
}

@keyframes slideInFromRight {
  0% {
    opacity: 0;
    transform: translateX(200px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}


@keyframes slideInFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-200px); 
  }
  100% {
    opacity: 1;
    transform: translateX(0); 
  }
}


//---------------------MOBIL--------------------------
@include mobile {

  main {
    padding-left: 20px;
    padding-right: 20px;
  }

  .legal-notice-content {
    padding-top: 124px;
    padding-bottom: 230px;
  }

  .legal_notice_header {
    padding-top: 20px;
  }



  .mobi-back {
    display: inline;
    cursor: pointer;
  }

  .font_1 {
    font-size: 32px;
  }

  ::ng-deep app-menue {
    .menue_Entries {
      display: none !important;
    }

    .language_Icon {
      display: none !important;
    }

    .app_logo {
      display: block !important;
    }
  }

}