<main>
    <app-menue></app-menue>

    <section>
        <p class="legal_notice_header font_1">{{'Test' | translate}}</p>
        <div class="imprint">
            <ul>
                <li>{{'Name' | translate}}</li>
                <li>{{'strasse' | translate}}</li>
                <li>{{'ort' | translate}}</li>
            </ul>
        </div>
        <div class="section_1">
            <p>Email: {{'' |translate}}</p>
        </div>

        <div class="section_2">
            <p>{{'' |translate}}</p>
            <p>{{'' |translate}}</p>
        </div>

        <div class="section_3">
            <p>{{'' |translate}}</p>
            <p>{{'' |translate}}</p>
        </div>
        <div class="section_4">
            <p>{{'' |translate}}</p>
            <p>{{'' |translate}}</p>
        </div>
        <div class="section_5">
            <p></p>
            <p></p>
        </div>
        <div class="section_6">
            <p></p>
            <p></p>
        </div>
        <div class="section_7">
            <p></p>
            <p></p>
        </div>


    </section>

</main>