<main>
    <app-menue></app-menue>

    <section>
        <p class="legal_notice_header font_1">{{'LEGALNOTICE.HEADER' | translate}}</p>
        <div class="imprint">
            <p class="col sec font_14">Imprint</p>
            <ul class="legal_notice_list">
                <li>{{'LEGALNOTICE.NAME' | translate}}</li>
                <li>{{'LEGALNOTICE.STREET' | translate}}</li>
                <li>{{'LEGALNOTICE.TOWN' | translate}}</li>
            </ul>
        </div>


        <div *ngFor="let s of ('LEGALNOTICE.SECTIONS' | translate)">
            <div class="sec">
                <p [innerHTML]="s.TEXT1"></p>
                <p [innerHTML]="s.TEXT2"></p>
                <br>
                <p [innerHTML]="s.TEXT3"></p>
            </div>
        </div>
        <br>
        <p>{{'LEGALNOTICE.DATE' | translate}}</p>
    </section>
</main>