@use "styles/colors" as *;
@use "styles/mixin/mixin" as *;

//---------------------MOBIL--------------------------
@include mobile {

    main {
        padding-left: 20px;
        padding-right: 20px;
    }

    .legal-notice-content {
        padding-top: 124px;
        padding-bottom: 230px;
    }

    .legal_notice_header {
        padding-top: 20px;
    }

    .mobi-back {
        display: inline;
        cursor: pointer;
    }

    .font_1 {
        font-size: 32px;
    }

    ::ng-deep app-menue {
        .menue_Entries {
            display: none !important;
        }

        .language_Icon {
            display: none !important;
        }

        .app_logo {
            display: block !important;
        }
    }

}