<main>
  <div class="hero_section">
    <div class="hero_bg_section">
      <img class="img_Background original" src="assets/icons/bgshape.png" alt="Hero Image" />
      <img class="img_Background hover" src="assets/icons/bgshape_hover.png" alt="Hero Image" />
    </div>
    <img class="img_Hero" src="assets/icons/CB_Picture.png" alt="Personal Image" />
  </div>
  <div class="hero_Personal">
    <div class="hero_media">
      <div>
        <app-logo [dark]="true"></app-logo>
      </div>
      <div class="hero_socialMedia">
        <div class="social_section">
          <img class="original" src="assets/icons/Email_btn.png">
          <img class="hover" src="assets/icons/Email_btn_hover.png">
        </div>
        <div class="social_section">
          <img class="original" src="assets/icons/github_btn.png" />
          <img class="hover" src="assets/icons/github_btn_hover.png" />
        </div>
        <div class="social_section">
          <img class="original" src="assets/icons/linkin_btn.png" />
          <img class="hover" src="assets/icons/linkin_btn_hover.png" />
        </div>
      </div>
    </div>
    <div class="hero_Name">
      <p class="font_1">Christian Bock</p>
      <p class="font_2">{{'HERO.ROLE' | translate}}</p>
    </div>
    <div class="hero_Arrow">
      <img src="assets/icons/Arrowdown.png" />
    </div>
  </div>
</main>