@use "styles/colors" as *;
main {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  margin-left: 114px;
  margin-top: 41px;
  //height: 100vh;
  color: $cremeWhite;
}

:host ::ng-deep app-logo .logo:first-of-type {
  transition: transform 0.3s ease;
}

:host ::ng-deep app-logo .logo:first-of-type:hover {
  transform: scaleX(1.2);
}

.hero_section {
  display: grid;
  width: 594px;
  height: 710px;

  .img_Background {
    grid-area: 1 / 1;
    margin-top: 66px;
    rotate: -45deg;
  }

  .img_Hero {
    grid-area: 1 / 1;
    z-index: 0;
    width: 535px;
    height: 683px;
    margin-top: 30px;
    margin-left: 20px;
  }
}

.hero_section:hover {
  .hero_bg_section {
    .original {
      opacity: 0;
      //transform: scale(1);
    }
    .hover {
      opacity: 1;
      //transform: scale(1.05);
    }
  }
}

.hero_bg_section {
  grid-area: 1/1;
  position: relative; /* Für absolutes Positionieren */
  //width: 30px; /* Breite des Icons */
  //height: 30px; /* Höhe des Icons */
}

.hero_bg_section > img {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: contain;
  /* WICHTIG: sanfter Übergang + Schatten */
  //transition: opacity 0.5s ease, filter 0.8s ease, transform 0.8s ease;
  transition: opacity 0.5s ease-in-out, filter 0.5s ease-in-out;
}

.hero_bg_section .original {
  opacity: 1;
  //filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.3));
}
.hero_bg_section .hover {
  opacity: 0;
  //filter: drop-shadow(0 4x 4px rgba(0, 0, 0, 0.4));
  transform: scale(1);
}
.hero_bg_section:hover .original {
  opacity: 0;
}
.hero_bg_section:hover .hover {
  opacity: 1;
  //transform: scale(1);
}

.hero_Personal {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 710px;
  padding-top: 105px;
  //background-color: yellow;

  .hero_media {
    display: flex;
    justify-content: center;
    align-items: center;
    //background-color: aqua;
  }

  .hero_socialMedia {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 30px;
    height: 122px;
    position: relative;
    left: 250px;
    img {
      height: 30px;
      width: 30px;
    }
  }

  .social_section {
    position: relative; /* Für absolutes Positionieren */
    width: 30px; /* Breite des Icons */
    height: 30px; /* Höhe des Icons */
    cursor: pointer;
  }
  .social_section img {
    position: absolute;
    top: 0;
    left: 0;
    transition: opacity 0.3s ease;
  }
  .social_section .original {
    opacity: 1;
  }
  .social_section .hover {
    opacity: 0;
  }
  .social_section:hover .original {
    opacity: 0;
  }
  .social_section:hover .hover {
    opacity: 1;
  }
}

.hero_Name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.hero_Arrow {
  margin-top: 160px;
  :hover {
    cursor: pointer;
    background-color: $lightGrey;
    border-radius: 30px;
    width: 38px;
    height: 89px;
  }
}
