<main>
  <div class="hero_section">
    <img
      class="img_Background"
      src="../assets/icons/bgshape.png"
      alt="Hero Image"/>
    <img
      class="img_Hero"
      src="../assets/icons/pictureHero.png"
      alt="Personal Image"/>
  </div>
  <div class="hero_Personal">
    <div class="hero_media">
      <div>
        <img src="../assets/icons/logo.png" />
        <h4>Ch. Bock</h4>
        <img src="../assets/icons/developer.png" />
      </div>
      <div class="hero_socialMedia">
        <img src="../assets/icons/email.png" />
        <img src="../assets/icons/github.png" />
        <img src="../assets/icons/linkin.png" />
      </div>
    </div>
    <div class="hero_Name">
      <h1>Christian Bock</h1>
      <h2>Frontend Developer</h2>
    </div>
    <div class="hero_Arrow">
      <img src="../assets/icons/Arrowdown.png" />
    </div>
  </div>
</main>
