main {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  margin-left: 114px;
  margin-top: 41px;
  height: 655px;
  color: #f8f5ec; //cremewihe
  //background-color: red;
}

.hero_section {
  display: grid;
  width: 594px;
  height: 710px;

  //background-color: green;

  .img_Background {
    grid-area: 1 / 1;
    margin-top: 66px;
    rotate: -45deg;
  }

  .img_Hero {
    grid-area: 1 / 1;
    z-index: 1;
    height: auto;
  }
}

.hero_Personal {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 710px;
  padding-top: 105px;
  //background-color: yellow;

  .hero_media {
    display: flex;
  }

  .hero_socialMedia {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 30px;
    height: 122px;
    position: absolute;
    top: 68px;
    left: 1300px;

    img {
      height: 30px;
      width: 30px;
    }
  }

  .hero_Name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }

  .hero_Arrow {
    margin-top: 160px;
  }
}
