@use "styles/colors.scss" as *;
@use "styles/fonts.scss" as *;

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Josefin Sans";
  color: $primaryBlue; // #f8f5ec;
  width: 100%;
  height: auto;
  padding-bottom: 60px;
  //background-color: blue;
}

.tPlayer_Headline {
  margin-top: 20px;
  margin-bottom: 60px;

}

.tPlayer_Section {
  display: grid;
}

.tPlayer_Card {
  width: 100%;
  //display: flex;
  //flex-direction: row;
}
