.app_menu {
    position: fixed;
    bottom: 0;
    /* unten andocken */
    left: 50%;
    transform: translate(-50%, 0);
    /* WICHTIG: X und Y zusammen */
    width: 100%;
    max-width: 1920px;
    z-index: 9999;
    transition: transform 20ms ease;
    /* sanftes Fahren */
    //will-change: transform;
}