  @use "/styles/colors" as *;

  .logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3px;
  }

  .logo_txt_first {
    font-size: 14px;
    margin: 0;
    color: $cremeWhite;
    text-decoration: none;
    text-decoration-line: none;
    border-bottom: 0;
  }

  .logo_txt_second {
    font-size: 14px;
    margin: 0;
    color: $mainColor;
  }