<main>
  <div class="section_heroMenue">
    <div>
      <app-logo [dark]="false"></app-logo>
    </div>

    <div class="menue_Entries">
      <a href="#"><h3>{{'NAV.ABOUT_ME' |translate}}</h3></a>
      <a href="#"><h3>{{'NAV.SKILLS' | translate}}</h3></a>
      <a href="#"><h3>{{'NAV.PORTFOLIO' |translate}}</h3></a>
      <a href="#"><h3>{{'NAV.CONTACT' |translate}}</h3></a>
    </div>

    <div class="language_Icon">
      <img src="../assets/buttons/languageActiveEN.png">
    </div>
  </div>
</main>
