<main>
  <div class="section_heroMenue">
    <div>
      <app-logo [dark]="false"></app-logo>
    </div>

    <div class="menue_Entries">
      <a class="font_3" href="#">
        <p>{{'NAV.WHY_ME' |translate}}</p>
      </a>
      <a class="font_3" href="#">
        <p>{{'NAV.SKILLS' | translate}}</p>
      </a>
      <a class="font_3" href="#">
        <p>{{'NAV.PORTFOLIO' |translate}}</p>
      </a>
      <a class="font_3" href="#">
        <p>{{'NAV.CONTACT' |translate}}</p>
      </a>
    </div>

    <div class="language_Icon">
      <img src="assets/buttons/languageActiveEN.png">
    </div>
  </div>
</main>