<main>
  <div class="section_heroMenue">
    <div>
      <app-logo [dark]="false"></app-logo>
    </div>

    <div class="menue_Entries">
      <a class="font_3" href="#why-me" (click)="setMenuAktiv('why-me')">
        <p [class.active]="menuAktiv ==='why-me'">{{'NAV.WHY_ME' |translate}}</p>
      </a>
      <a class="font_3" href="#myskills" (click)="setMenuAktiv('myskills')">
        <p [class.active]="menuAktiv ==='myskills'">{{'NAV.SKILLS' | translate}}</p>
      </a>

      <a class="font_3" href="#myprojects" (click)="setMenuAktiv('myprojects')">
        <p [class.active]="menuAktiv === 'myprojects'">{{'NAV.PORTFOLIO' |translate}}</p>
      </a>
      <a class="font_3" href="#contact" (click)="setMenuAktiv('contact')">
        <p [class.active]="menuAktiv === 'contact'">{{'NAV.CONTACT' |translate}}</p>
      </a>
    </div>

    <div class="language_Icon">
      <img src="assets/buttons/languageActiveEN.png">
    </div>
  </div>
</main>