@use "styles/colors" as *;

main {
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  width: 100%;
  height: 104px;
  background-color: $primaryBlue;
}

.section_heroMenue {
  display: flex;
  width: 100%;
  justify-items: center;
  align-items: center;
  justify-content: space-between;
  margin-left: 114px;
  margin-right: 114px;
}
.menue_Entries {
  width: 677px;
  display: flex;
  justify-content: space-between;
  font-family: "Josefin";

  p {
    &:hover {
      color: $cremeWhite;
    }
  }
}

.menue_Entries a {
  text-decoration: none;
  color: $mainColor;
  position: relative;
  text-decoration: none;
}
.active {
  color: $cremeWhite;
  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 83px;
    height: 56px;
    transform: translate(-50%, -50%);
    background: url("/assets/icons/menuBack.png") no-repeat center / contain;
    z-index: -1; /* Hintergrund hinter Text */
  }
}

:host ::ng-deep app-logo .logo {
  cursor: pointer;
}
