main {
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  width: 1440px;
  height: 104px;
  background-color: #89bcd9;
}

.section_heroMenue {
  display: flex;
  width: 100%;
  justify-items: center;
  align-items: center;
  justify-content: space-between;
  margin-left: 114px;
  margin-right: 114px;
    
  a{
  text-decoration: none;
    color:inherit;
    font-size: 26px;
  }
  //background-color: yellow;
}

.menue_Entries {
  width: 677px;
  display: flex;
  justify-content: space-between;

  //background-color: green;
}
