/* anta-regular - latin_symbols */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Anta';
  font-style: normal;
  font-weight: 200;
  src: url('../public/assets/fonts/anta-v1-latin-ext-regular.woff2') format('woff2'); /* Chrome 36+, Opanta-v1-latin-ext-regular.woff2era 23+, Firefox 39+, Safari 12+, iOS 10+ */

}
