@use "styles/colors" as *;

* {
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}

html {
  //overflow-x: hidden;
  //width: 100%;
  //max-width: 100vw;
}

//Hilfrahmen für Entwicklung

* {
  outline: 1px solid red;
}

body {
  //display: flex;
  //justify-content: center;
  margin: 0;
  padding: 0;
  font-family: "Anta";
  background-color: $mainColor;
  //overflow-x: hidden;
  //overflow-y: auto;
  width: 100%;
  //max-width: 100vw;
  min-height: 100vh;
}


//Schriftarten
@font-face {
  font-display: swap;
  font-family: "Josefin";
  font-style: normal;
  font-weight: 200;
  src: url("assets/fonts/josefin-sans-v33-latin-200.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Josefin";
  font-style: normal;
  font-weight: 300;
  src: url("assets/fonts/josefin-sans-v33-latin-300.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Josefin";
  font-style: normal;
  font-weight: 400;
  src: url("assets/fonts/josefin-sans-v33-latin-regular.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Josefin";
  font-style: normal;
  font-weight: 500;
  src: url("assets/fonts/josefin-sans-v33-latin-500.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Josefin";
  font-style: normal;
  font-weight: 700;
  src: url("assets/fonts/josefin-sans-v33-latin-700.woff2") format("woff2");
}

@font-face {
  font-family: "Anta";
  src: url("assets/fonts/Anta-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

//Font formatierung

.font_1 {
  font-size: 88px;
  font-weight: 400;
}

.font_2 {
  font-size: 40px;
  font-weight: 400;
}

.font_3 {
  font-size: 26px;
  font-weight: 500;
}

.font_4 {
  font-size: 16px;
  font-weight: 400;
}

.font_5 {
  font-size: 60px;
  font-weight: 400;
}

.font_6 {
  font-size: 18px;
  font-weight: 500;
}

.font_7 {
  font-size: 30px;
  font-weight: 500;
}

.font_8 {
  font-size: 18px;
  font-weight: 400;
}

.font_9 {
  font-size: 18px;
  font-weight: 400;
}

.font_10 {
  font-size: 30px;
  font-weight: 400;
}

.font_11 {
  font-size: 32px;
  font-weight: 400;
}

.font_12 {
  font-size: 54px;
  font-weight: 400;
}

.font_13 {
  font-size: 20px;
  font-weight: 400;
}

.font_14 {
  font-size: 16px;
  font-weight: 400;
}

.font_14 {
  font-size: 24px;
  font-weight: bold;
}

.font_15 {
  font-size: 16px;
  font-weight: 400;
}



// Colors für Text

.txt_color {
  color: $primaryBlue;
}