@use "styles/colors" as *;

* {
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}



//Hilfrahmen für Entwicklung
* {
  //outline: 1px solid red;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Anta";
  background-color: $mainColor;
  width: 100%;
  min-height: 100vh;
}




//Schriftarten
@font-face {
  font-display: swap;
  font-family: "Josefin";
  font-style: normal;
  font-weight: 200;
  src: url("assets/fonts/josefin-sans-v33-latin-200.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Josefin";
  font-style: normal;
  font-weight: 300;
  src: url("assets/fonts/josefin-sans-v33-latin-300.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Josefin";
  font-style: normal;
  font-weight: 400;
  src: url("assets/fonts/josefin-sans-v33-latin-regular.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Josefin";
  font-style: normal;
  font-weight: 500;
  src: url("assets/fonts/josefin-sans-v33-latin-500.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Josefin";
  font-style: normal;
  font-weight: 700;
  src: url("assets/fonts/josefin-sans-v33-latin-700.woff2") format("woff2");
}

@font-face {
  font-family: "Anta";
  src: url("assets/fonts/Anta-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}


.font_a {
  font-size: 88px;
  font-weight: 400;
}

.font_b {
  font-size: 40px;
  font-weight: 400;
}

.font_c {
  font-size: 26px;
  font-weight: 500;
}

.font_d {
  font-size: 16px;
  font-weight: 400;
}

.font_e {
  font-size: 60px;
  font-weight: 400;
}

.font_f {
  font-size: 18px;
  font-weight: 500;
}

.font_g {
  font-size: 30px;
  font-weight: 500;
}

.font_h {
  font-size: 18px;
  font-weight: 400;
}

.font_i {
  font-size: 18px;
  font-weight: 400;
}

.font_j {
  font-size: 30px;
  font-weight: 400;
}

.font_k {
  font-size: 32px;
  font-weight: 400;
}

.font_l {
  font-size: 54px;
  font-weight: 400;
}

.font_m {
  font-size: 20px;
  font-weight: 400;
}

.font_n {
  font-size: 16px;
  font-weight: 400;
}

.font_n {
  font-size: 24px;
  font-weight: bold;
}

.font_o {
  font-size: 16px;
  font-weight: 400;
}



// Colors für Text

.txt_color {
  color: $primaryBlue;
}