@import 'color.scss';
@import 'fonts.scss';

* {
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}


body {
  max-width: 1980px;
  background-color: $mainColor;
  display: flex;
  flex-direction: column;
  margin: 0;
  font-family: "Anta";
  overflow-x: hidden;
   font-weight: 400;
}

h1{
  font-size:88px;

}
h2{
  font-size: 40px;
}
h3{}
h4{
  font-size: 16px;
  
  }