@use "styles/mixin/mixin" as *;
@use "styles/colors" as *;


main{
  min-width: 320px;
  max-width: 1920px;
  background-color: $mainColor;
}




//---------------------MOBIL--------------------------

@include mobile {
  .app_menu {
    display: none;
  }
}
