<main>
    <app-hero id="hero"></app-hero>
    <app-menue #menuEl class="app_menu" [class.menu-top]="menuFixedTop" [class.menu-bottom]="!menuFixedTop"
        [style.transform]="menuFixedTop ? 'translateY(0)' : 'translateY(' + menuTranslateY + 'px)'">
    </app-menue>
    <app-why-me id="why-me"></app-why-me>
    <app-myskills id="myskills"></app-myskills>
    <app-myprojects id="myprojects"></app-myprojects>
    <app-teamplayer></app-teamplayer>
    <app-contact-me id="contact"></app-contact-me>
</main>

<app-footer></app-footer>