@use "styles/mixin/mixin" as *;
@use "styles/colors" as *;

@media (min-width: 1450px) {}

@media (min-width: 1921px) {}

//---------------------MOBIL--------------------------

@include mobile {
    .app_menu {
        display: none;
    }

    .menu-intro {
        display: none;
    }

}