@use "styles/mixin/mixin" as *;
@use "styles/colors" as *;

main {
  width: 100%;
  background-color: $mainColor;
}



//---------------------MOBIL--------------------------

@include mobile {
  .app_menu {
    display: none;
  }
}