@use "styles/mixin/mixin" as *;

//---------------------MOBIL--------------------------
main{
  min-width: 320px;
  max-width: 1920px;
  //background-color: yellow;

}




@include mobile {
  .app_menu {
    display: none;
  }
}
