@use "styles/mixin/mixin" as *;
@use "styles/colors" as *;

main {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
}

.menu-intro {
  pointer-events: none;
}

.menu-intro app-menue.menu-sticky {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
  pointer-events: auto;
  transition: bottom 0.3s ease-out, top 0.3s ease-out;
}


.menu-intro app-menue.menu-sticky {
  animation: menu-to-top linear;
  animation-timeline: scroll();
  animation-range: 0vh 100vh;
}

@keyframes menu-to-top {
  from {
    bottom: 0;
    top: auto;
  }

  to {
    bottom: auto;
    top: 0;
  }
}

.menu-intro app-menue.menu-sticky {
  bottom: auto;
  top: 0;
}

